@using System.Globalization;
@model lluviaBackEnd.Models.Compras
@{
    List<lluviaBackEnd.Models.Compras> lstCompras = ViewBag.lstCompras;
    List<SelectListItem> lstLineasDeProductos = (List<SelectListItem>)ViewBag.lstLineasDeProductos;
    List<SelectListItem> lstProveedores = (List<SelectListItem>)ViewBag.lstProveedores;
    List<SelectListItem> lstUsuarios = (List<SelectListItem>)ViewBag.lstUsuarios;
    int contador = 1;

}

<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tablaRepCompras">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th class="text-center">Folio de compra</th>
                                    <th>Comprador</th>
                                    <th>Proveedor</th>
                                    <th>Código de  Barras</th>
                                    <th>Línea</th>
                                    <th>Producto</th>
                                    <th>Estatus</th>
                                    <th>Cantidad Solicitada</th>
                                    <th>Cantidad Recibida</th>
                                    <th>Cantidad Devuelta</th>
                                    <th>Precio/Costo Compra</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstCompras)
                                {
                                <tr>
                                    <td>@item.fechaAlta.ToShortDateString()</td>
                                    <td>@item.idCompra</td>
                                    <td>@item.usuario.nombreCompleto</td>
                                    <td>@item.proveedor.nombre</td>
                                    <td>@item.producto.codigoBarras</td>
                                    <td>@item.producto.DescripcionLinea</td>
                                    <td>@item.producto.descripcion</td>
                                    <td>
                                        @{
                                            switch (item.producto.estatusProducto.idEstatusProducto)
                                            {
                                                case 0:
                                                    {
                                                        <div class="badge badge-light badge-shadow">Pendiente</div>
                                                    }
                                                    break;

                                                case 1:
                                                    {
                                                        <div class="badge badge-success badge-shadow">@item.producto.estatusProducto.estatusProducto</div>

                                                    }
                                                    break;

                                                case 2:
                                                    {
                                                        <div class="badge badge-warning badge-shadow">@item.producto.estatusProducto.estatusProducto</div>
                                                    }
                                                    break;

                                                case 3:
                                                case 4:
                                                case 5:
                                                    {
                                                        <div class="badge badge-danger badge-shadow">@item.producto.estatusProducto.estatusProducto</div>
                                                    }
                                                    break;
                                                default:
                                                    {
                                                        <div class="badge badge-light badge-shadow">@item.producto.estatusProducto.estatusProducto</div>
                                                    }
                                                    break;
                                            }
                                        }

                                    </td>

                                    <td>@item.producto.cantidad</td>
                                    <td>@item.producto.cantidadRecibida</td>
                                    <td>@item.producto.cantidadDevuelta</td>
                                    <td>@item.producto.precio.ToString("C", new CultureInfo("en-US"))</td>
                                    <td>@item.producto.total.ToString("C", new CultureInfo("en-US"))</td>

                                </tr>

                                    contador = contador + 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



