@using System.Globalization;
@model lluviaBackEnd.Models.Compras
@{
    List<lluviaBackEnd.Models.Compras> lstCompras = ViewBag.lstCompras;
    List<SelectListItem> lstLineasDeProductos = (List<SelectListItem>)ViewBag.lstLineasDeProductos;
    List<SelectListItem> lstProveedores = (List<SelectListItem>)ViewBag.lstProveedores;
    List<SelectListItem> lstUsuarios = (List<SelectListItem>)ViewBag.lstUsuarios;
    int contador = 1;

}

<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tablaRepCompras">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        Id
                                    </th>
                                    <th>Producto</th>
                                    <th>Proveedor</th>
                                    <th>Usuario</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstCompras)
                                {
                                    <tr>
                                        <td>@contador</td>
                                        <td>@item.producto.descripcion</td>
                                        <td>@item.proveedor.nombre</td>
                                        <td>@item.usuario.nombreCompleto</td>
                                        <td>@item.producto.cantidad</td>
                                        <td>@item.producto.precio.ToString("C", new CultureInfo("en-US"))</td>
                                        <td>@item.fechaAlta.ToShortDateString() &nbsp; @item.fechaAlta.ToShortTimeString()</td>
                                    </tr>

                                    contador = contador + 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



