@model lluviaBackEnd.Models.Producto
@{
    List<lluviaBackEnd.Models.Producto> lstProductos = ViewBag.lstProductos;

}

<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tablaRepProductos">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        Id
                                    </th>
                                    <th>Descripción</th>
                                    <th>Linea de Producto</th>
                                    <th>Artículo</th>
                                    <th>Cantidad</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstProductos)
                                {
                                <tr>
                                    <td>@item.contador</td>
                                    <td>@item.descripcion</td>
                                    <td>@item.DescripcionLinea</td>
                                    <td>@item.articulo</td>
                                    <td>@item.cantidad</td>
                                    <td>@item.fechaAlta.ToShortDateString() &nbsp; @item.fechaAlta.ToShortTimeString()</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



