@using System.Globalization;
@model lluviaBackEnd.Models.Producto
@{
    List<lluviaBackEnd.Models.Producto> lstProductos = ViewBag.lstProductos;

}

<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tablaRepProductos">
                            <thead>
                                <tr>
                                    @*<th class="text-center">            Id
        </th>*@
                                    <th>Fecha</th>
                                    <th>Almacen</th>
                                    <th>Linea de Producto</th>
                                    <th>Producto</th>
                                    <th>Codigo de barras</th>
                                    <th>Cantidad a la fecha</th>
                                    <th>Costo compra</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstProductos)
                                {
                                    item.total= item.costo * item.cantidad;
                                <tr>
                                    <td>@item.fechaAlta.ToShortDateString() &nbsp; @item.fechaAlta.ToShortTimeString()</td>
                                    <td>@item.Almacen</td>
                                    <td>@item.DescripcionLinea</td>
                                    <td>@item.descripcion</td>
                                    <td>@item.codigoBarras</td>
                                    <td>@item.cantidad</td>
                                    <td>@item.costo.ToString("C", new CultureInfo("en-US"))</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



