@using System.Globalization;
@model lluviaBackEnd.Models.Ventas
@{
    List<lluviaBackEnd.Models.Ventas> lstVentas = ViewBag.lstVentas;
    List<SelectListItem> lstLineasDeProductos = (List<SelectListItem>)ViewBag.lstLineasDeProductos;
    List<SelectListItem> lstClientes = (List<SelectListItem>)ViewBag.lstClientes;
    List<SelectListItem> lstUsuarios = (List<SelectListItem>)ViewBag.lstUsuarios;
}


<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tablaRepVentas">
                            <thead>
                                <tr>
                                    @*<th class="text-center">
                                        Id
                                    </th>*@
                                    <th>Cliente</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio c/u</th>
                                    <th>Costo c/u</th>
                                    <th>Utilidad</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstVentas)
                                {
                                    float precioTotal = item.precio * item.cantidad;
                                    float costoTotal = item.costo * item.cantidad;
                                    float gananciaTotal = item.ganancia * item.cantidad;
                                <tr>
                                    @*<td>@item.contador</td>*@
                                    <td>@item.nombreCliente</td>
                                    <td>@item.descripcionProducto</td>
                                    <td>@item.cantidad</td>
                                    <td>@item.precio.ToString("C", new CultureInfo("en-US"))</td>
                                    <td>@item.costo.ToString("C", new CultureInfo("en-US"))</td>
                                    <td>@gananciaTotal.ToString("C", new CultureInfo("en-US"))</td>
                                    <td>@item.nombreUsuario</td>
                                    <td>@item.fechaAlta.ToShortDateString() &nbsp; @item.fechaAlta.ToShortTimeString()</td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



