@using System.Globalization;
@model lluviaBackEnd.Models.Ventas
@{
    List<lluviaBackEnd.Models.Ventas> lstVentas = ViewBag.lstVentas;
    List<SelectListItem> lstLineasDeProductos = (List<SelectListItem>)ViewBag.lstLineasDeProductos;
    List<SelectListItem> lstClientes = (List<SelectListItem>)ViewBag.lstClientes;
    List<SelectListItem> lstUsuarios = (List<SelectListItem>)ViewBag.lstUsuarios;
}


<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tablaRepVentas">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Sucursal</th>
                                    <th>Tienda</th>
                                    <th>Cajero</th>
                                    <th>Folio</th>
                                    <th>Cliente</th>
                                    @*<th>Tipo Cliente</th>*@
                                    <th>Código Barras</th>
                                    <th>Línea</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Venta</th>
                                    <th>I.V.A.</th>
                                    <th>Monto total</th>
                                    <th>Costo Compra</th>
                                    <th>Utilidad</th>
                                    <th>Margen Bruto</th>
                                    <th>Forma de Pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstVentas)
                                {
                                    float precioTotal = item.precio * item.cantidad;
                                    float costoTotal = item.costo * item.cantidad;
                                    float gananciaTotal = item.ganancia * item.cantidad;
                                    float margenBruto = gananciaTotal==0 ? 0 : (gananciaTotal/precioTotal)*100;
                                <tr>
                                    <td>@item.fechaAlta.ToShortDateString() &nbsp; @item.fechaAlta.ToShortTimeString()</td>
                                    <td>@item.descSucursal</td>
                                    <td>@item.descripcionAlmacen</td>
                                    <td>@item.nombreUsuario</td>
                                    <td>@item.idVenta</td>
                                    <td>@item.nombreCliente</td>
                                    @*<td>@item.tipoCliente</td>*@
                                    <td>@item.codigoBarras</td>
                                    <td>@item.descripcionLineaProducto</td>
                                    <td>@item.descripcionProducto</td>
                                    <td>@item.cantidad</td>
                                    <td>@item.precio.ToString("C", new CultureInfo("en-US"))</td>
                                    <td>@item.montoIVA.ToString("C", new CultureInfo("en-US"))</td>
                                    <td>@item.montoTotal.ToString("C", new CultureInfo("en-US"))</td>
                                    <td>@item.costo.ToString("C", new CultureInfo("en-US"))</td>
                                    <td>@gananciaTotal.ToString("C", new CultureInfo("en-US"))</td>
                                    <td>@Decimal.Round(Convert.ToDecimal(margenBruto), 2) %</td>
                                    <td>@item.descripcionFactFormaPago</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



