@model lluviaBackEnd.Models.Compras
@{
    ViewBag.Title = "Compras";
    List<lluviaBackEnd.Models.Compras> lstCompras = ViewBag.lstCompras;
    List<SelectListItem> lstLineasDeProductos = (List<SelectListItem>)ViewBag.lstLineasDeProductos;
    List<SelectListItem> lstProveedores = (List<SelectListItem>)ViewBag.lstProveedores;
    List<SelectListItem> lstUsuarios = (List<SelectListItem>)ViewBag.lstUsuarios;

}
@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />
}

@*<!DOCTYPE html>*@

<h2>Reportes</h2>

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Buscar Compras</h4>
                <div class="card-header-action">
                    <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                </div>
            </div>
            <div class="collapse show" id="mycard-collapse">
                <div class="card-body">
                    @using (Ajax.BeginForm("BuscarCompras", "Reportes",
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnBegin = "onBeginSubmitCompras",
                        OnComplete = "onCompleteSubmitCompras",
                        OnFailure = "onFailureResultCompras",
                        OnSuccess = "onSuccessResultCompras",
                    },
                    new { id = "frmBuscarCompras" }))
                    {
                        @Html.HiddenFor(x => x.fechaIni, new { @id = "fechaIni" })
                        @Html.HiddenFor(x => x.fechaFin, new { @id = "fechaFin" })

                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Descripción del Producto</label>
                                    @Html.TextBoxFor(x => x.producto.descripcion, null, new { @class = "form-control", @id = "descripcionBusqueda", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Linea de Producto</label>
                                    @Html.DropDownListFor(x => x.producto.idLineaProducto, lstLineasDeProductos, new { @class = "form-control", id = "idLineaProductoBusqueda", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Proveedor</label>
                                    @Html.DropDownListFor(x => x.proveedor.idProveedor, lstProveedores, new { @class = "form-control", id = "lstProveedoresBusqueda", data_val = "false" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-4">

                                <div class="form-group">
                                    <label>Rango de Fechas</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-calendar"></i>
                                            </div>
                                        </div>
                                        <input type="text" id="rangeCompras" class="form-control daterange-cus">
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    @Html.DropDownListFor(x => x.usuario.idUsuario, lstUsuarios, new { @class = "form-control", id = "lstUsuariosBusqueda", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">

                                </div>
                            </div>
                        </div>

                        <div class="text-right" style="margin-top:15px;">
                            <button type="submit" id="btnBuscarProductos" class="btn btn-success">Buscar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rowCompras">
    @Html.Partial("_Compras", new lluviaBackEnd.Models.Compras() { idCompra = 0 })
</div>






@section scripts {

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/js/EvtCompras.js"></script>

}
