
@using lluviaBackEnd.Models
@{
    ViewBag.Title = "Costo de Producción Agranel";
}

@model CostoProduccionAgranel


@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/assets/bundles/select2/dist/css/select2.min.css" />
}


<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Costo de Producción</h4>
            </div>
            <div class="card-body">
                @using (Ajax.BeginForm("ObtenerCostoProduccion", "Reportes",
                  new AjaxOptions
                  {
                      HttpMethod = "Post",
                      OnBegin = "onBeginSubmitCostoProduccion",
                      OnFailure = "onFailureResultCostoProduccion",
                      OnSuccess = "onSuccessResultCostoProduccion",
                  },
                  new { id = "frmBuscarCostoProduccion" }))
                {

                    <div class="row">

                        @*<div class="form-group col-lg-4">
                                <label>Inventario Fisico</label>
                                @Html.DropDownListFor(x => x.idInventarioFisico, (List<SelectListItem>)ViewBag.listInventarioFisico, "--TODOS--", new { @class = "select-multiple", data_val = "false" })
                            </div>*@

                        <div class="form-group col-lg-2">
                            <label>Anio</label>
                            @Html.DropDownListFor(x => x.AnioCalculo, (List<SelectListItem>)ViewBag.listAnios, new { @id = "idAnio", @class = "select-multiple", data_val = "false" })
                        </div>

                        <div class="form-group col-lg-2">
                            <label>Mes</label>
                            @Html.DropDownListFor(x => x.MesCalculo, (List<SelectListItem>)ViewBag.listMeses, new { @id = "idMes", @class = "select-multiple", data_val = "false" })
                        </div>

                        <div class="form-group col-lg-3">
                            <label>Almacen</label>
                            @Html.DropDownListFor(x => x.idAlmacen, (List<SelectListItem>)ViewBag.listAlmacen, "--TODOS--", new { @id = "idAlmacen", @class = "select-multiple", data_val = "false" })
                        </div>

                        <div class="form-group col-lg-3">
                            <label>Lìnea Producto</label>
                            @Html.DropDownListFor(x => x.idLineaProducto, (List<SelectListItem>)ViewBag.lstLineasDeProductos, "--TODOS--", new { @id = "idLineaProducto", @class = "select-multiple", data_val = "false" })
                        </div>

                        <div class="text-left col-lg-2" style="margin-top:30px;">
                            <button type="submit" class="btn btn-success">Buscar</button>
                        </div>

                    </div>
                }
                <hr style="margin-top:0" />
                <div id="ViewCostoProduccion">
                    @*@Html.Action("ObtenerMerma", "Reportes")*@
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/bundles/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/evtReporteCostoProduccion.js"></script>
}

