@model lluviaBackEnd.Models.Ventas
@{
    ViewBag.Title = "Ventas";
    List<lluviaBackEnd.Models.Ventas> lstVentas = ViewBag.lstVentas;
    List<SelectListItem> lstLineasDeProductos = (List<SelectListItem>)ViewBag.lstLineasDeProductos;
    List<SelectListItem> lstClientes = (List<SelectListItem>)ViewBag.lstClientes;
    List<SelectListItem> lstUsuarios = (List<SelectListItem>)ViewBag.lstUsuarios;

}
@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />

}
@*<!DOCTYPE html>*@


<h2>Reportes</h2>

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Buscar Ventas</h4>
                <div class="card-header-action">
                    <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                </div>
            </div>
            <div class="collapse show" id="mycard-collapse">
                <div class="card-body">
                    @using (Ajax.BeginForm("BuscarVentas", "Reportes",
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnBegin = "onBeginSubmitVentas",
                        OnComplete = "onCompleteSubmitVentas",
                        OnFailure = "onFailureResultVentas",
                        OnSuccess = "onSuccessResultVentas",
                    },
                    new { id = "frmBuscarVentas" }))
                    {
                        @Html.HiddenFor(x => x.fechaIni, new { @id = "fechaIniVentas" })
                        @Html.HiddenFor(x => x.fechaFin, new { @id = "fechaFinVentas" })

                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    @Html.TextBoxFor(x => x.descripcionProducto, null, new { @class = "form-control", @id = "descripcionProductoBusqueda", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Linea de Producto</label>
                                    @Html.DropDownListFor(x => x.idLineaProducto, lstLineasDeProductos, new { @class = "form-control", id = "idLineaProductoBusqueda", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    @Html.DropDownListFor(x => x.idCliente, lstClientes, new { @class = "form-control", id = "idClienteBusqueda", data_val = "false" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-4">

                                <div class="form-group">
                                    <label>Rango de Fechas</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-calendar"></i>
                                            </div>
                                        </div>
                                        <input type="text" id="rangeVentas" class="form-control daterange-cus">
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    @Html.DropDownListFor(x => x.idUsuario, lstUsuarios, new { @class = "form-control", id = "idUsuarioBusqueda", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">

                                </div>
                            </div>
                        </div>

                        <div class="text-right" style="margin-top:15px;">
                            <button type="submit" id="btnBuscarProductos" class="btn btn-success">Buscar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rowVentas">
    @Html.Partial("_Ventas", new lluviaBackEnd.Models.Ventas() { idVenta = 0 })
</div>


@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/js/EvtVentas.js"></script>
}
