@model lluviaBackEnd.Models.PedidosEspecialesV2
@{
    ViewBag.Title = "Confirmar Productos";
    lluviaBackEnd.Models.PedidosEspecialesV2 pedidosEspecialesV2 = ViewBag.pedidoEspecial;
    List<SelectListItem> listUsuariosRuteo = (List<SelectListItem>)ViewBag.listUsuariosRuteo;
    List<SelectListItem> listUsuariosTaxi = (List<SelectListItem>)ViewBag.listUsuariosTaxi;

    List<lluviaBackEnd.Models.FormaPago> lstFormasPago = ViewBag.lstFormasPago;
    List<lluviaBackEnd.Models.UsoCFDI> lstUsoCFDI = ViewBag.lstUsoCFDI;
    List<lluviaBackEnd.Models.Cliente> lstClientes = (List<lluviaBackEnd.Models.Cliente>)ViewBag.lstClientes;
    float comisionBancaria = ViewBag.comisionBancaria;
    Boolean esPedidoEnRuta = ViewBag.esPedidoEnRuta;
    string observacionesPedidoRuta = ViewBag.observacionesPedidoRuta;
    int idUsuarioRuteoConsulta = ViewBag.idUsuarioRuteoConsulta;

    bool cajaAbierta = ViewBag.cajaAbierta;
    lluviaBackEnd.Models.Cliente cliente = ViewBag.cliente;
    cliente.rfc = cliente.rfc == null ? "" : cliente.rfc.ToUpper();
    cliente.correo = cliente.correo == null ? "" : cliente.correo.ToUpper();
    cliente.tipoCliente.descripcion = cliente.tipoCliente.descripcion == null ? "" : cliente.tipoCliente.descripcion.ToUpper();

}

<script type="text/javascript">
        var listClientes = @Html.Raw(Json.Encode(lstClientes));
    </script>

@section Styles {
    <link href="~/assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/assets/bundles/select2/dist/css/select2.min.css" />


    <style>
        .modal {
            overflow: auto !important;
        }

        .ui-autocomplete {
            z-index: 5000;
        }
    </style>
}


<section class="section">
    <div class="section-body">
        <div class="row mt-sm-4">
        </div>

        <div class="row mt-sm-12">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Confirmar Productos: </h4>
                        <div class="card-header-action">
                            <a href="javascript:AbrirModalIngresoEfectivo(2);" class="btn btn-icon btn-success" data-toggle="tooltip" title="Ingreso de Efectivo"><i class="fas fa-ticket-alt"></i> Ingreso de efectivo</a>
                            <a href="javascript:AbrirModalRetiroExcesoEfectivo();" class="btn btn-icon btn-warning" data-toggle="tooltip" title="Retiro De Exceso de Efectivo"><i class="fas fa-dollar-sign"> </i> Retiro de exceso de efectivo</a>
                            <a href="javascript:AbrirCajonDinero();" class="btn btn-icon btn-info" data-toggle="tooltip" title="Abrir Cajón de Dinero"><i class="fas fa-external-link-alt"></i>Abrir cajon</a>
                            <a href="@Url.Action("CierreCajas", "PedidosEspecialesV2")" class="btn btn-icon btn-danger" data-toggle="tooltip" title="Cierre de cajas"><i class="fas fa-donate"> </i> Cierre de cajas</a>
                        </div>

                    </div>
                    <div class="card-body">
                        @Html.HiddenFor(x => comisionBancaria)
                        @Html.HiddenFor(x => esPedidoEnRuta)
                        @Html.HiddenFor(x => idUsuarioRuteoConsulta)
                        @Html.HiddenFor(x => cajaAbierta, new { id = "cajaAbierta" })
                        <div class="text-md-right">
                            <div class="badge-outline col-red"> <h3>Subtotal: <span class="divSubTotal">$0.0</span></h3></div>
                        </div>
                        <br />

                        <div class="table-responsive">
                            <table class="table table-striped" id="tblConfirmarProductos">
                                <thead>
                                    <tr>
                                        <th data-width="40" style="width: 40px;">#</th>
                                        <th>Id Producto</th>
                                        <th>Producto</th>
                                        <th>Almacen</th>
                                        <th class="text-center">Monto</th>
                                        <th class="text-center">Descuento </th>
                                        <th class="text-center">Cantidad Solicitada</th>
                                        <th class="text-center">Observaciones Entrega</th>
                                        <th class="text-center">Cantidad Atendida</th>
                                        <th class="text-center">Cantidad Rechazada</th>
                                        <th class="text-center">Cantidad Aceptada</th>
                                        <th class="text-center">Observaciones Confirmar</th>
                                        <th class="text-center" style="display: none;">idPedidoEspecial</th>
                                        <th class="text-center" style="display: none;">idPedidoEspecialDetalle</th>
                                        <th class="text-center">Eliminar </th>
                                        <th class="text-center" style="display: none;">idTicketMayoreo</th>
                                    </tr>
                                </thead>
                                @if (pedidosEspecialesV2 != null)
                                {
                                    if (pedidosEspecialesV2.lstProductos.Count() > 0)
                                    {
                                        <tbody>
                                            @foreach (var item in pedidosEspecialesV2.lstProductos)
                                            {
                                                <tr>
                                                    <td>@item.id</td>
                                                    <td>@item.idProducto</td>
                                                    <td>@item.descripcion</td>
                                                    <td>@item.Almacen</td>
                                                    <td>$@item.precioVenta</td>
                                                    <td>$0.00</td>
                                                    <td class="text-center">@item.cantidad</td>
                                                    <td class="text-center">@item.observaciones</td>
                                                    <td class="text-center">@item.cantidadAtendida </td>
                                                    <td class="text-center">@item.cantidadRechazada</td>
                                                    <td class="text-center"><input type='text' class="productos_" onkeypress="return esDecimal(this, event);" style="text-align: center; background: transparent;" value="@item.cantidadAtendida"></td>
                                                    <td class="text-center"><input type='text' style="text-align: center; background: transparent;" value=""></td>
                                                    <td style="display: none;">@item.idPedidoEspecial</td>
                                                    <td style="display: none;">@item.idPedidoEspecialDetalle</td>
                                                    <td>  <a href="javascript:EliminarProductos(@item.id)" data-toggle="tooltip" title="" data-original-title="Eliminar"><i class="far fa-trash-alt"></i></a> </td>
                                                    <td style="display: none;">@item.idTicketMayoreo</td>
                                                </tr>
                                            }
                                        </tbody>
                                    }
                                }
                                else
                                {
                                    <tbody></tbody>
                                }

                            </table>
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-6 text-right">
                                <hr class="mt-2 mb-2">
                                <div class="invoice-detail-item">
                                    <div class="invoice-detail-name">Subtotal</div>
                                    <div class="invoice-detail-value divSubTotal">$0.0</div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div>
                            <div class="text-md-right">
                                @*<a href="@Url.Action("EntregarPedido", "PedidosEspecialesV2")" class="btn btn-danger btn-icon icon-left"><i class="fas fa-times"></i>Cancelar </a>*@
                                <button id="btnCancelarEntregarPedidoEspecial" class="btn btn-danger btn-icon icon-left"><i class="fas fa-times"></i> Cancelar</button>
                                &nbsp;
                                <button id="btnGuardarPedidoEspecial" class="btn btn-warning btn-icon icon-left"><i class="fas fa-credit-card"></i> Guardar</button>
                                &nbsp;
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






@*Modal Confirmar Productos de Pedido Especial*@
<div class="modal fade bd-example-modal-lg" id="ModalEntregarPedidoEspecial" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Entregar Pedido Especial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-7">

                        <div class="card">
                            <div class="card-header">
                                <h4>Entregado a:</h4>
                            </div>

                            <div class="card-body">

                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <div class="form-check">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="chkCliente">
                                                <label class="custom-control-label" for="chkCliente">Entregado a Cliente</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        @*@Html.DropDownListFor(model => model.idCliente, new SelectList(lstClientes, "idCliente", "nombreCompleto_"), new { id = "idCliente", style = "width:100%", placeholder = "", @class = "select-multiple", data_val_required = "Seleccione un cliente", data_val = "true" })*@
                                        @Html.HiddenFor(x => cliente.idCliente, new { id = "idCliente" })
                                        @Html.HiddenFor(x => cliente.tipoCliente.descuento, new { id = "descuentoCliente" })

                                        <div class="form-group row text-info mb-2">
                                            <label class="col-sm-4 text-info mb-2"> <strong>Nombre:</strong> </label>
                                            <div class="col-sm-8"> @cliente.nombreCompleto_.ToUpper() </div>
                                        </div>

                                        <div class="form-group row text-info mb-2">
                                            <label class="col-sm-4 text-info mb-2"> <strong>RFC:</strong> </label>
                                            <div class="col-sm-8">  @cliente.rfc.ToUpper() </div>
                                        </div>

                                        <div class="form-group row text-info mb-2">
                                            <label class="col-sm-4 text-info mb-2"> <strong>Email:</strong> </label>
                                            <div class="col-sm-8">  @cliente.correo.ToUpper() </div>
                                        </div>

                                        <div class="form-group row text-info mb-2">
                                            <label class="col-sm-4 text-info mb-2"> <strong>Tipo de Cliente:</strong> </label>
                                            <div class="col-sm-8">  @cliente.tipoCliente.descripcion.ToUpper() </div>
                                        </div>

                                        <div class="form-group row text-warning mb-2">
                                            <label class="col-sm-4 text-warning mb-2"> <strong>Adeudo:</strong> </label>
                                            <div class="col-sm-8">
                                                $ @cliente.adeudo.ToString().ToUpper()
                                                <br>
                                                Días desde último abono: @cliente.diasTranscurridos.ToString().ToUpper()
                                            </div>

                                        </div>

                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-sm-5">
                                        <div class="form-check">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="chkRuteo">
                                                <label class="custom-control-label" for="chkRuteo">Entregado a Encargado de Ruteo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(model => model.idUsuarioRuteo, listUsuariosRuteo, "--SELECCIONE--", new { @id = "idUsuarioRuteo", style = "width:100%", @class = "select-multiple", placeholder = "", data_val = "false" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-5">
                                        <div class="form-check">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="chkTaxi">
                                                <label class="custom-control-label" for="chkTaxi">Entregado a Taxi</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(model => model.idUsuarioTaxi, listUsuariosTaxi, "--SELECCIONE--", new { @id = "idUsuarioTaxi", style = "width:100%", @class = "select-multiple", placeholder = "", data_val = "false" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-5">
                                        <div class="form-check">
                                            <div class="custom-control custom-checkbox">
                                                <div class="col-form-label pt-0">Numero de Unidad</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="numeroUnidadTaxi" placeholder="Numero de unidad de Taxi">
                                    </div>
                                </div>


                                <div id="divObservacionesPedidoRuta">

                                    <div class="section-title"><strong>Observaciones (Pedido en Ruta): </strong></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="observacionesPedidoRuta" placeholder="Observaciones del Pedido en Ruta">
                                    </div>

                                </div>

                                @if (esPedidoEnRuta) {

                                    <div id="divObservacionesPedidoRutaConsulta">

                                        <div class="section-title"><strong>Observaciones (Pedido en Ruta): </strong> @observacionesPedidoRuta.ToString() </div>
                                        <div class="form-group">                                        
                                        </div>

                                    </div>
                                    <br>
                                }





                                <div id="divFormaPago">

                                    <div class="section-title"><strong>Forma de Pago: </strong></div>
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.formaPago, new SelectList(lstFormasPago, "id", "descripcion"), new { id = "formaPago", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione una forma de pago", data_val = "true" })
                                    </div>

                                    <div class="pretty p-svg p-curve">
                                        <input id="chkFacturarPedido" type="checkbox">
                                        <div class="state p-success">
                                            <!-- svg path -->
                                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                            </svg>
                                            <label>Facturar este Pedido Especial.</label>
                                        </div>
                                    </div>

                                    <br>
                                    <br>
                                </div>

                                <div id="divUsoCFDI">
                                    <div class="section-title"><strong>Uso del CFDI: </strong></div>
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.usoCFDI, new SelectList(lstUsoCFDI, "id", "descripcion"), new { id = "usoCFDI", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione una forma de pago", data_val = "true" })
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-5">

                        <div class="card">
                            <div class="card-header">
                                <h4></h4>
                            </div>

                            <div class="card-body">

                                <div class="text-right">
                                    <div class="invoice-detail-item">
                                        <div class="invoice-detail-name"><strong>Total:</strong></div>
                                        <div class="invoice-detail-value" id="previoTotal"><h4>$15</h4></div>
                                    </div>
                                    <div class="invoice-detail-item">
                                        <div class="invoice-detail-name"><strong>Descuento: (Mayoreo)</strong></div>
                                        <div class="invoice-detail-value" id="previoDescuentoMenudeo"><h4>$15</h4></div>
                                    </div>
                                    <div class="invoice-detail-item">
                                        <input type="hidden" id="txtDescuentoCliente" />
                                        <div class="invoice-detail-name"><strong>Descuento: (Cliente)</strong></div>
                                        <div class="invoice-detail-value" id="previoDescuentoCliente"><h4>$15</h4></div>
                                    </div>
                                    <div class="invoice-detail-item">
                                        <div class="invoice-detail-name"><strong>Comisiones</strong></div>
                                        <div class="invoice-detail-value" id="previoComisionBancaria"><h4>$15</h4></div>
                                    </div>
                                    <div class="invoice-detail-item">
                                        <div class="invoice-detail-name"><strong>Subtotal:</strong></div>
                                        <div class="invoice-detail-value" id="previoSubTotal"><h4>$15</h4></div>
                                    </div>
                                    <div class="invoice-detail-item">
                                        <div class="invoice-detail-name"><strong>I.V.A.</strong></div>
                                        <div class="invoice-detail-value" id="previoIVA"><h4>$15</h4></div>
                                    </div>
                                    <hr class="mt-2 mb-2">
                                    <div class="invoice-detail-item">
                                        <div class="invoice-detail-name"><strong>Total</strong></div>
                                        <div class="invoice-detail-value invoice-detail-value-lg" id="previoFinal"><h4>$15</h4></div>
                                    </div>
                                    <br />
                                    <div class="invoice-detail-item">
                                        <div class="invoice-detail-name"><strong>Cambio</strong></div>
                                        <div class="invoice-detail-value invoice-detail-value-lg" id="cambio" style="color: #ff4d4d"><h4>$0.0</h4></div>
                                    </div>


                                    <div class="card-header">
                                        <h4>Tipo de Pago:</h4>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <div id="divChkLiquidado">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="chkLiquidado">
                                                        <label class="custom-control-label" for="chkLiquidado">Liquidado </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div id="divChkCredito">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="chkCredito">
                                                        <label class="custom-control-label" for="chkCredito">A Crédito </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div id="divChkCreditoConAbono">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="chkCreditoConAbono">
                                                        <label class="custom-control-label" for="chkCreditoConAbono">Crédito con Abono </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <br />
                                    <div id="dvEfectivo">
                                        <div class="section-title"><strong>Efectivo: </strong></div>
                                        <span class="float-right text-muted">
                                            <input id="efectivo" type="text" class="form-control" onkeypress="return esDecimal(this, event);">
                                        </span>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button> &nbsp;&nbsp;
                            <button class="btn btn-success" id="btnEntregarPedidoEspecial" type="button">Aceptar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@Html.Action("_IngresosRetirosEfectivo", "PedidosEspecialesV2")


@section scripts {

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/bundles/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/EvtConfirmarProductosV2.js"></script>
    <script src="~/js/evtIngresosRetirosEfectivo.js"></script>


    <style>
        input {
            outline: 0;
            border-width: 0 0 2px;
            border-color: lightslategray
        }

            input:focus {
                border-color: dodgerblue
            }
    </style>

}
