
@using System.Globalization;
@{
    ViewBag.Title = "ConsultarPedidosEspeciales";
    List<SelectListItem> listClientes = (List<SelectListItem>)ViewBag.listClientes;
    List<SelectListItem> listUsuarios = (List<SelectListItem>)ViewBag.listUsuarios;
    List<SelectListItem> listEstatus = (List<SelectListItem>)ViewBag.listEstatus;

    List<lluviaBackEnd.Models.FormaPago> lstFormasPago = ViewBag.lstFormasPago;
    List<lluviaBackEnd.Models.UsoCFDI> lstUsoCFDI = ViewBag.lstUsoCFDI;
    List<SelectListItem> lstClientes = (List<SelectListItem>)ViewBag.listClientes;
    List<SelectListItem> lstUsuarios = (List<SelectListItem>)ViewBag.listUsuarios;
}

@model lluviaBackEnd.Models.Filtro

@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/assets/bundles/select2/dist/css/select2.min.css" />
}
@*<!DOCTYPE html>*@


<h2>Consultar pedidos especiales</h2>

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Buscar pedidos especiales</h4>
                <div class="card-header-action">
                    <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                </div>
            </div>
            <div class="collapse show" id="mycard-collapse">
                <div class="card-body">
                    @using (Ajax.BeginForm("BuscarPedidosEspeciales", "Reportes",
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnBegin = "onBeginSubmitPedidosEspeciales",
                        OnFailure = "onFailurePedidosEspeciales",
                        OnSuccess = "onSuccessPedidosEspeciales",
                    },
                    new { id = "frmBuscarPedidosEspeciales" }))
                    {

                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    @Html.DropDownListFor(x => x.idCliente, listClientes, "TODOS", new { @class = "select-multiple", id = "idCliente", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    @Html.DropDownListFor(x => x.idUsuario, listUsuarios, "TODOS", new { @class = "select-multiple", id = "idUsuario", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Estatus</label>
                                    @Html.DropDownListFor(x => x.idEstatusPedidoEspecial, listEstatus, "TODOS", new { @class = "select-multiple", id = "idEstatusPedidoEspecial", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Rango de Fechas</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-calendar"></i>
                                            </div>
                                        </div>
                                        <input type="text" id="rangePedidosEspeciales" class="form-control daterange-cus">
                                        @Html.HiddenFor(x => x.fechaIni, new { @id = "fechaIni" })
                                        @Html.HiddenFor(x => x.fechaFin, new { @id = "fechaFin" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Codigo de barras</label>
                                    @Html.TextBoxFor(x => x.codigoBarras, null, new { @class = "form-control", @id = "codigoBarrasTicket" })
                                </div>
                            </div>
                        </div>

                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" id="btnLimpiarForm" class="btn btn-danger btn-icon icon-left">Limpiar</button>
                            <button type="submit" id="btnBuscarPedidosEspeciales" class="btn btn-success">Buscar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body" id="resultPedidosEspeciales">

                </div>

            </div>

        </div>

    </div>


</div>

<div class="modal fade bd-example-modal-xl" id="modalDetallePedidosEspeciales" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle pedidos especiales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detallePedidoEspecial">

            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="modalDevolucionPedidosEspeciales" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Devolver productos pedidos especiales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-md-right">
                    <div class="badge-outline col-red"><h3>Total a Devolver: <span class="divSubTotal">$0.0</span></h3></div>
                </div>
                <input id="idPedidoEspecial" value="0" type="hidden" />
                <br />
                <div id="devolucionPedidoEspecial">
                </div>

                <div class="row mt-4">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Escriba el Motivo de la Devolución:</label>
                            <input id="motivoDevolucion" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <hr class="mt-2 mb-2">
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name">Total a Devolver</div>
                            <div class="invoice-detail-value divSubTotal">$0.0</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-success" id="btnRealizarDevolucion" type="button">Realizar Devolucion</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal Detalle de Tickets *@
<div class="modal fade bd-example-modal-lg" id="modalVerTicketsPedidoEspecial" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalPrevioVenta">Detalle de Tickets: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ticketsPedidoEspecial"></div>


                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" id="btnCancelarDetalleTickets" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




@*Modal facturacion *@
<div class="modal fade bd-example-modal-lg" id="ModalFacturar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalPrevioVenta">Facturar Pedido: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-lg-7">
                        <div class="section-title"><strong>Cliente: </strong></div>
                        <input type="hidden" id="idVentaIVA" name="idVentaIVA" value="0">
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.idClienteFact, lstClientes, new { id = "idClienteFact", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione un cliente", data_val = "true" })
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div id="nombreCliente">
                                    <address>
                                        <strong></strong><br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>

                                    </address>
                                </div>
                            </div>
                        </div>

                        <div class="section-title"><strong>Forma de Pago: </strong></div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.formaPago, new SelectList(lstFormasPago, "id", "descripcion"), new { id = "formaPago", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione una forma de pago", data_val = "true" })
                        </div>


                        <div id="divUsoCFDI">
                            <div class="section-title"><strong>Uso del CFDI: </strong></div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.usoCFDI, new SelectList(lstUsoCFDI, "id", "descripcion"), new { id = "usoCFDI", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione una forma de pago", data_val = "true" })
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-5 text-right">
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Total de la Venta:</strong></div>
                            <div class="invoice-detail-value" id="previoTotal"><h4>$15</h4></div>
                        </div>
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Subtotal:</strong></div>
                            <div class="invoice-detail-value" id="previoSubTotal" style="color: #3232ba"><h4>$15</h4></div>
                        </div>
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>I.V.A.</strong></div>
                            <div class="invoice-detail-value" id="previoIVA"><h4>$15</h4></div>
                        </div>
                        <hr class="mt-2 mb-2">
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Total</strong></div>
                            <div class="invoice-detail-value invoice-detail-value-lg" id="previoFinal"><h4>$15</h4></div>
                        </div>
                        <br />
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Cambio</strong></div>
                            <div class="invoice-detail-value invoice-detail-value-lg" id="cambio" style="color: #ff4d4d"><h4>$0.0</h4></div>
                        </div>
                        <br />
                        <div class="section-title"><strong>Efectivo: </strong></div>
                        <span class="float-right text-muted">
                            <input id="efectivo" type="text" placeholder="Introduzca la cantidad ($) que está recibiendo" class="form-control" onkeypress="return esDecimal(this, event);">
                        </span>

                    </div>

                </div>

                <div class="row mt-4">
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="button" id="btnGuardarIVA" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/bundles/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/EvtConsultaPedidosEspecialesV2.js"></script>
}


