@using System.Globalization;
@using lluviaBackEnd.Models;
@{
    ViewBag.Title = "Dashboard";
}

@{
    Notificacion<List<Estacion>> estaciones = ViewBag.estaciones;

    float montoTotalDia = 0, montoTotalSemana = 0, montoTotalMes = 0, montoTotalAnio = 0;
    if (estaciones.Estatus == 200)
    {
        montoTotalDia = estaciones.Modelo.Sum(x => x.montoTotalDia);
        montoTotalSemana = estaciones.Modelo.Sum(x => x.montoTotalSemana);
        montoTotalMes = estaciones.Modelo.Sum(x => x.montoTotalMes);
        montoTotalAnio = estaciones.Modelo.Sum(x => x.montoTotalAnio);
    }

}

<script src="~/assets/js/page/highcharts/highcharts.js"></script>
<script src="~/assets/js/page/highcharts/data.js"></script>
<script src="~/assets/js/page/highcharts/drilldown.js"></script>
<script src="~/assets/js/page/highcharts/exporting.js"></script>


<section class="section">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4></h4>
                    <div class="card-header-action">
                        <div class="btn active btnGraficoVentas" tipoReporteGrafico="@Convert.ToInt16(EnumTipoReporteGrafico.Semanal)">Semana Actual</div>
                        <div class="btn btnGraficoVentas" tipoReporteGrafico="@Convert.ToInt16(EnumTipoReporteGrafico.Mensuales)">Mensuales</div>
                        <div class="btn btnGraficoVentas" tipoReporteGrafico="@Convert.ToInt16(EnumTipoReporteGrafico.Anuales)">Anuales</div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="GraficoVentasPorFecha">
                        @Html.Action("_Grafico", "DashBoard", new { tipoGrafico = lluviaBackEnd.Models.EnumTipoGrafico.VentasPorFecha, tipoReporteGrafico = lluviaBackEnd.Models.EnumTipoReporteGrafico.Semanal })
                    </div>
                    <div class="statistic-details mt-1">
                        <div class="statistic-details-item">
                            <div class="detail-value">@montoTotalDia.ToString("C", new CultureInfo("en-US"))</div>
                            <div class="detail-name">Hoy</div>
                        </div>
                        <div class="statistic-details-item">
                            <div class="detail-value">@montoTotalSemana.ToString("C", new CultureInfo("en-US"))</div>
                            <div class="detail-name">Esta Semana</div>
                        </div>
                        <div class="statistic-details-item">
                            <div class="detail-value">@montoTotalMes.ToString("C", new CultureInfo("en-US"))</div>
                            <div class="detail-name">Este mes</div>
                        </div>
                        <div class="statistic-details-item">
                            <div class="detail-value">@montoTotalAnio.ToString("C", new CultureInfo("en-US"))</div>
                            <div class="detail-name">Este año</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4>Ventas de Estaciones</h4>
                </div>
                <div class="card-body">

                    @if (estaciones.Estatus != 200)
                    {
                        <div class="empty-state">
                            <div class="empty-state-icon">
                                <i class="fas fa-question"></i>
                            </div>
                            <h2>@estaciones.Mensaje</h2>
                        </div>
                    }
                    else
                    {
                        <ul class="list-unstyled user-details list-unstyled-border list-unstyled-noborder">

                            @foreach (Estacion estacion in estaciones.Modelo)
                            {

                            <li class="media">
                                <img alt="image" class="mr-3 rounded-circle" width="50" src="~/assets/img/cash-register.png">
                                <div class="media-body">
                                    <div class="media-title">@estacion.nombre</div>
                                    <div class="text-job text-muted">@estacion.nombreAlmacen</div>
                                </div>
                                <div class="media-items">
                                    <div class="media-item">
                                        <div class="media-value">@estacion.montoTotalDia.ToString("C", new CultureInfo("en-US"))</div>
                                        <div class="media-label">Hoy</div>
                                    </div>
                                    <div class="media-item">
                                        <div class="media-value">@estacion.montoTotalSemana.ToString("C", new CultureInfo("en-US"))</div>
                                        <div class="media-label">Esta Semana</div>
                                    </div>
                                    <div class="media-item">
                                        <div class="media-value">@estacion.montoTotalMes.ToString("C", new CultureInfo("en-US"))</div>
                                        <div class="media-label">Este Mes</div>
                                    </div>
                                </div>
                            </li>

                            }
                        </ul>
                    }


                </div>

            </div>
        </div>

    </div>
</section>



@section scripts {

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/EvtDashboard.js"></script>
}


