@using System.Globalization;
@using lluviaBackEnd.Models;
@{
    ViewBag.Title = "Dashboard";
}

@{
    Notificacion<List<Estacion>> estaciones = ViewBag.estaciones;

    float montoTotalDia = 0, montoTotalSemana = 0, montoTotalMes = 0, montoTotalAnio = 0;
    if (estaciones.Estatus == 200)
    {
        montoTotalDia = estaciones.Modelo.Sum(x => x.montoTotalDia);
        montoTotalSemana = estaciones.Modelo.Sum(x => x.montoTotalSemana);
        montoTotalMes = estaciones.Modelo.Sum(x => x.montoTotalMes);
        montoTotalAnio = estaciones.Modelo.Sum(x => x.montoTotalAnio);
    }

}

<script src="~/assets/js/page/highcharts/highcharts.js"></script>
<script src="~/assets/js/page/highcharts/data.js"></script>
<script src="~/assets/js/page/highcharts/drilldown.js"></script>
<script src="~/assets/js/page/highcharts/exporting.js"></script>


<section class="section">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4></h4>
                    <div class="card-header-action">
                        <div class="btn active btnGraficoVentas" tipoReporteGrafico="@Convert.ToInt16(EnumTipoReporteGrafico.Semanal)">Semana Actual</div>
                        <div class="btn btnGraficoVentas" tipoReporteGrafico="@Convert.ToInt16(EnumTipoReporteGrafico.Mensuales)">Mensuales</div>
                        <div class="btn btnGraficoVentas" tipoReporteGrafico="@Convert.ToInt16(EnumTipoReporteGrafico.Anuales)">Anuales</div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="GraficoVentasPorFecha">
                        @Html.Action("_Grafico", "DashBoard", new { tipoGrafico = lluviaBackEnd.Models.EnumTipoGrafico.VentasPorFecha, tipoReporteGrafico = lluviaBackEnd.Models.EnumTipoReporteGrafico.Semanal })
                    </div>
                    <div class="statistic-details mt-1">
                        <div class="statistic-details-item">
                            <div class="detail-value">@montoTotalDia.ToString("C", new CultureInfo("en-US"))</div>
                            <div class="detail-name">Hoy</div>
                        </div>
                        <div class="statistic-details-item">
                            <div class="detail-value">@montoTotalSemana.ToString("C", new CultureInfo("en-US"))</div>
                            <div class="detail-name">Esta Semana</div>
                        </div>
                        <div class="statistic-details-item">
                            <div class="detail-value">@montoTotalMes.ToString("C", new CultureInfo("en-US"))</div>
                            <div class="detail-name">Este mes</div>
                        </div>
                        <div class="statistic-details-item">
                            <div class="detail-value">@montoTotalAnio.ToString("C", new CultureInfo("en-US"))</div>
                            <div class="detail-name">Este año</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4>Ventas de Estaciones</h4>
                </div>
                <div class="card-body">

                    @if (estaciones.Estatus != 200)
                    {
                        <div class="empty-state">
                            <div class="empty-state-icon">
                                <i class="fas fa-question"></i>
                            </div>
                            <h2>@estaciones.Mensaje</h2>
                        </div>
                    }
                    else
                    {
                        <ul class="list-unstyled user-details list-unstyled-border list-unstyled-noborder">

                            @foreach (Estacion estacion in estaciones.Modelo)
                            {

                            <li class="media">
                                <img alt="image" class="mr-3 rounded-circle" width="50" src="~/assets/img/cash-register.png">
                                <div class="media-body">
                                    <div class="media-title">@estacion.nombre</div>
                                    <div class="text-job text-muted">@estacion.nombreAlmacen</div>
                                </div>
                                <div class="media-items">
                                    <div class="media-item">
                                        <div class="media-value">@estacion.montoTotalDia.ToString("C", new CultureInfo("en-US"))</div>
                                        <div class="media-label">Hoy</div>
                                    </div>
                                    <div class="media-item">
                                        <div class="media-value">@estacion.montoTotalSemana.ToString("C", new CultureInfo("en-US"))</div>
                                        <div class="media-label">Esta Semana</div>
                                    </div>
                                    <div class="media-item">
                                        <div class="media-value">@estacion.montoTotalMes.ToString("C", new CultureInfo("en-US"))</div>
                                        <div class="media-label">Este Mes</div>
                                    </div>
                                </div>
                            </li>

                            }
                        </ul>
                    }


                </div>

            </div>
        </div>

    </div>
</section>



@section scripts {

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/EvtDashboard.js"></script>
}


    @*<div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Assign Project List</h4>
                            <div class="card-header-form">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Cust.</th>
                                            <th>Project</th>
                                            <th>Assign Date</th>
                                            <th>Team</th>
                                            <th>Priority</th>
                                            <th>Status</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/img/users/user-8.png" alt="">
                                        </td>
                                        <td>
                                            <h6 class="mb-0 font-13">Wordpress Website</h6>
                                            <p class="m-0 font-12">
                                                Assigned to<span class="col-green font-weight-bold"> Airi Satou</span>
                                            </p>
                                        </td>
                                        <td>20-02-2018</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-8.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Wildan Ahdian">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-9.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="John Deo">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-10.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Sarah Smith">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="badge-outline col-red">High</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="progress-text">50%</div>
                                            <div class="progress" data-height="6">
                                                <div class="progress-bar bg-success" data-width="50%"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" title="" data-original-title="Edit">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/img/users/user-1.png" alt="">
                                        </td>
                                        <td>
                                            <h6 class="mb-0 font-13">Android Game App</h6>
                                            <p class="m-0 font-12">
                                                Assigned to<span class="col-green font-weight-bold"> Sarah Smith</span>
                                            </p>
                                        </td>
                                        <td>22-05-2019</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-4.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Wildan Ahdian">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-7.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="John Deo">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-2.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Sarah Smith">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="badge-outline col-green">Low</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="progress-text">55%</div>
                                            <div class="progress" data-height="6">
                                                <div class="progress-bar bg-purple" data-width="55%"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" title="" data-original-title="Edit">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/img/users/user-5.png" alt="">
                                        </td>
                                        <td>
                                            <h6 class="mb-0 font-13">Java Web Service</h6>
                                            <p class="m-0 font-12">
                                                Assigned to<span class="col-green font-weight-bold"> Cara Stevens</span>
                                            </p>
                                        </td>
                                        <td>11-04-2019</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-3.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Wildan Ahdian">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-7.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="John Deo">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-8.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Sarah Smith">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="badge-outline col-blue">Medium</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="progress-text">70%</div>
                                            <div class="progress" data-height="6">
                                                <div class="progress-bar" data-width="70%"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" title="" data-original-title="Edit">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/img/users/user-9.png" alt="">
                                        </td>
                                        <td>
                                            <h6 class="mb-0 font-13">Wedding IOS App</h6>
                                            <p class="m-0 font-12">
                                                Assigned to<span class="col-green font-weight-bold"> John Doe</span>
                                            </p>
                                        </td>
                                        <td>19-05-2019</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-2.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Wildan Ahdian">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-10.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="John Deo">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-4.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Sarah Smith">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="badge-outline col-red">High</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="progress-text">45%</div>
                                            <div class="progress" data-height="6">
                                                <div class="progress-bar bg-cyan" data-width="45%"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" title="" data-original-title="Edit">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/img/users/user-10.png" alt="">
                                        </td>
                                        <td>
                                            <h6 class="mb-0 font-13">Blize Admin Template</h6>
                                            <p class="m-0 font-12">
                                                Assigned to<span class="col-green font-weight-bold"> Ashton Cox</span>
                                            </p>
                                        </td>
                                        <td>25-07-2019</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-1.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Wildan Ahdian">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-5.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="John Deo">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-7.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Sarah Smith">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="badge-outline col-blue">Medium</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="progress-text">67%</div>
                                            <div class="progress" data-height="6">
                                                <div class="progress-bar bg-red" data-width="67%"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" title="" data-original-title="Edit">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/img/users/user-4.png" alt="">
                                        </td>
                                        <td>
                                            <h6 class="mb-0 font-13">React js website</h6>
                                            <p class="m-0 font-12">
                                                Assigned to<span class="col-green font-weight-bold"> Sarah Smith </span>
                                            </p>
                                        </td>
                                        <td>11-08-2019</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-5.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Wildan Ahdian">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-8.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="John Deo">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-3.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Sarah Smith">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="badge-outline col-green">Low</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="progress-text">41%</div>
                                            <div class="progress" data-height="6">
                                                <div class="progress-bar bg-orange" data-width="41%"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" title="" data-original-title="Edit">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/img/users/user-10.png" alt="">
                                        </td>
                                        <td>
                                            <h6 class="mb-0 font-13">SEO improvement</h6>
                                            <p class="m-0 font-12">
                                                Assigned to<span class="col-green font-weight-bold"> Janak Gandhi</span>
                                            </p>
                                        </td>
                                        <td>22-02-2018</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-3.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Wildan Ahdian">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-9.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="John Deo">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-1.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Sarah Smith">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="badge-outline col-red">High</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="progress-text">70%</div>
                                            <div class="progress" data-height="6">
                                                <div class="progress-bar bg-success" data-width="70%"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" title="" data-original-title="Edit">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/img/users/user-6.png" alt="">
                                        </td>
                                        <td>
                                            <h6 class="mb-0 font-13">Laravel Website</h6>
                                            <p class="m-0 font-12">
                                                Assigned to<span class="col-green font-weight-bold"> Mili Rain</span>
                                            </p>
                                        </td>
                                        <td>31-03-2019</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-4.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Wildan Ahdian">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-7.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="John Deo">
                                                </li>
                                                <li class="team-member team-member-sm">
                                                    <img class="rounded-circle"
                                                         src="assets/img/users/user-2.png" alt="user" data-toggle="tooltip" title=""
                                                         data-original-title="Sarah Smith">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="badge-outline col-green">Low</div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="progress-text">55%</div>
                                            <div class="progress" data-height="6">
                                                <div class="progress-bar bg-purple" data-width="55%"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" title="" data-original-title="Edit">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <button type="button" id="facturar" class="btn btn-primary btn-lg btn-block" tabindex="4">
            Facturar
        </button>*@
</section>

