@using System.Globalization;
@model lluviaBackEnd.Models.Notificacion<List<lluviaBackEnd.Models.Producto>>

@{
    List<lluviaBackEnd.Models.Producto> ubicaciones = Model.Modelo;
    int contador = 1;
}

@if (Model.Estatus != 200)
{

    <div class="empty-state">
        <div class="empty-state-icon">
            <i class="fas fa-info"></i>
        </div>
        <h2>@Model.Mensaje</h2>
    </div>

}
else
{
    <div class="table-responsive">
        <table class="table table-striped" id="tblUbicacionesProducto">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th>Almacen</th>
                    <th>Piso</th>
                    <th>Pasillo</th>
                    <th>Raq</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>

                @foreach (lluviaBackEnd.Models.Producto u in ubicaciones)
                {
                <tr>
                    <td>@contador</td>
                    <td>@u.Almacen</td>

                    @if (lluviaBackEnd.Utilerias.Utils.mercanciaAcomodada(u.idPasillo.ToString(), u.idPiso.ToString(), u.idRaq.ToString()))
                    {
                        <td colspan="3" style="text-align: center;font-weight: 800;color: chocolate;">Sin Acomodar</td>
                    }
                    else
                    {
                        <td>@u.Piso</td>
                        <td>@u.Pasillo</td>
                        <td>@u.Raq</td>
                    }

                    <td>@u.cantidad</td>
                </tr>
                    contador = contador + 1;
                }

            </tbody>

        </table>
    </div>

}
