@using System.Globalization;
@model lluviaBackEnd.Models.Notificacion<List<lluviaBackEnd.Models.Producto>>

@{
    List<lluviaBackEnd.Models.Producto> ubicaciones = Model.Modelo;
    int contador = 1;
    string checkID = "chkErrorHumano" + contador;

}

@if (Model.Estatus != 200)
{

    <div class="empty-state">
        <div class="empty-state-icon">
            <i class="fas fa-info"></i>
        </div>
        <h2>@Model.Mensaje</h2> | 
    </div>

}
else
{
    <div>@ubicaciones[0].descripcion</div>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped" id="tblUbicacionesProducto">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th>Almacen</th>
                    <th>Piso</th>
                    <th>Pasillo</th>
                    <th>Raq</th>
                    <th>Cantidad</th>
                    <th>Cantidad en fisico</th>
                    <th>Error de Proceso</th>
                    <th>Ajustar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (lluviaBackEnd.Models.Producto u in ubicaciones)
                {
                    <tr>
                        <td>@contador</td>
                        <td>@u.Almacen</td>
                        @if (lluviaBackEnd.Utilerias.Utils.mercanciaAcomodada(u.idPasillo.ToString(), u.idPiso.ToString(), u.idRaq.ToString()))
                        {
                            <td colspan="3" style="text-align: center;font-weight: 800;color: chocolate;">Sin Acomodar</td>
                        }
                        else
                        {
                            <td>@u.Piso</td>
                            <td>@u.Pasillo</td>
                            <td>@u.Raq</td>
                        }
                        <td>@u.cantidad</td>
                        @if (u.fraccion)
                        {
                            <td class="text-center"><input type="text" onfocusout="actualizaTicket()" id="cantidadFisico_@u.idUbicacion" onkeypress="return esDecimal(this, event);" style="text-align: center; border: none; border-color: transparent;  background: transparent;" value="@u.cantidad.ToString().Replace(",", ".")"></td>

                        }
                        else
                        {
                            <td class="text-center"><input type="text" onfocusout="actualizaTicket()" id="cantidadFisico_@u.idUbicacion" onkeypress="return esNumero(event)" style="text-align: center; border: none; border-color: transparent;  background: transparent;" value="@u.cantidad.ToString().Replace(",", ".")"></td>

                        }
                        <td>
                            <input id="@checkID" type="checkbox">
                        </td>
                        <td>

                            <a href="javascript:AjustarInventarioProducto(@u.idProducto,@u.idUbicacion,@u.cantidad, '@checkID');" class="btn btn-icon btn-primary" data-toggle="tooltip" title="Ajustar a inventario"><i class="fas fa-cogs"></i></a>
                        </td>
                    </tr>
                        checkID = "chkErrorHumano" + contador;
                        contador = contador + 1;
}
            </tbody>

        </table>
    </div>

}
