@model lluviaBackEnd.Models.Producto
@{
    ViewBag.Title = "Productos";
    List<lluviaBackEnd.Models.Producto> lstProductos = ViewBag.lstProductos;
    List<SelectListItem> lstLineasDeProductos = (List<SelectListItem>)ViewBag.lstLineasDeProductos;
    List<SelectListItem> lstClaveProdServ = (List<SelectListItem>)ViewBag.lstClaveProdServ;
    List<SelectListItem> lstClavesUnidad = (List<SelectListItem>)ViewBag.lstClavesUnidad;
    List<SelectListItem> lstUnidadMedida = (List<SelectListItem>)ViewBag.lstUnidadMedida;

}
@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />

}
@*<!DOCTYPE html>*@


<h2>Productos</h2>

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Buscar Productos</h4>
                <div class="card-header-action">
                    <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                </div>
            </div>
            <div class="collapse show" id="mycard-collapse">
                <div class="card-body">
                    @using (Ajax.BeginForm("BuscarProductos", "Productos",
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnBegin = "onBeginSubmitProductos",
                        OnComplete = "onCompleteSubmitProductos",
                        OnFailure = "onFailureResultProductos",
                        OnSuccess = "onSuccessResultProductos",
                    },
                    new { id = "frmBuscarProductos" }))
                    {
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    @Html.TextBoxFor(x => x.descripcion, null, new { @class = "form-control", @id = "descripcionBusqueda", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Linea de Producto</label>
                                    @Html.DropDownListFor(x => x.idLineaProducto, lstLineasDeProductos, new { @class = "form-control", id = "idLineaProductoBusqueda", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Artículo</label>
                                    @Html.TextBoxFor(x => x.articulo, null, new { @class = "form-control", @id = "articuloBusqueda", data_val = "false" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Claves de Producto</label>
                                    @Html.DropDownListFor(x => x.claveProdServ, lstClaveProdServ, new { @class = "form-control", id = "claveProdServBusqueda", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Claves de Unidades</label>
                                    @Html.DropDownListFor(x => x.claveUnidad, lstClavesUnidad, new { @class = "form-control", id = "claveUnidadBusqueda", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">

                            </div>
                        </div>

                        <div class="text-right" style="margin-top:15px;">
                            <button type="submit" id="btnBuscarProductos" class="btn btn-success">Buscar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rowProductos">
    @Html.Partial("_ObtenerProductos", new lluviaBackEnd.Models.Producto() { idProducto = 0 })
</div>



 @*Modal Guardar/Modificar Producto*@ 
<div class="modal fade bd-example-modal-lg" id="EditarProductoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalProducto"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("GuardarProductos", "Productos",

                new AjaxOptions
                {
                    HttpMethod = "Post",
                    OnBegin = "onBeginSubmitGuardarProducto",
                    OnComplete = "onCompleteSubmitGuardarProducto",
                    OnFailure = "onFailureResultGuardarProducto",
                    OnSuccess = "onSuccessResultGuardarProducto",
                },
                new { id = "frmProductos" }))
                {
                    @Html.HiddenFor(x => x.idProducto, new { @id = "idProducto" })
                    @Html.HiddenFor(x => x.activo, new { @id = "activo" })

                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label>Descripción</label>
                                @Html.TextBoxFor(x => x.descripcion, null, new { @class = "form-control", @id = "descripcion" })
                                @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "text-danger was" })
                            </div>
                            <div class="form-group">
                                <label>Unidad de Medida</label>
                                @Html.DropDownListFor(x => x.idUnidadMedida, lstUnidadMedida, new { id = "idUnidadMedida", @class = "form-control", data_val = "true" })
                                @Html.ValidationMessageFor(x => x.idUnidadMedida, null, new { @class = "text-danger was" })
                            </div>

                            <div class="form-group">
                                <label>Linea de Producto</label>
                                @Html.DropDownListFor(x => x.idLineaProducto, lstLineasDeProductos, new { id = "idLineaProducto", @class = "form-control", data_val = "true" })
                                @Html.ValidationMessageFor(x => x.idLineaProducto, null, new { @class = "text-danger was" })
                            </div>
                            
                            <div class="form-group">
                                <label>Clave de Producto</label>
                                @Html.DropDownListFor(x => x.claveProdServ, lstClaveProdServ, new { @class = "form-control", id = "claveProdServ", data_val = "false" })
                                @Html.ValidationMessageFor(x => x.idLineaProducto, null, new { @class = "text-danger was" })
                            </div>

                        </div>

                        <div class="col-12 col-sm-12 col-lg-6">

                                <div class="form-group">
                                    <label>Cantidad Unidad de Medida</label>
                                    @Html.TextBoxFor(x => x.cantidadUnidadMedida, null, new { @class = "form-control", @id = "cantidadUnidadMedida" })
                                    @Html.ValidationMessageFor(x => x.cantidadUnidadMedida, null, new { @class = "text-danger was" })

                                </div>

                                <div class="form-group">
                                    <label>Artículo</label>
                                    @Html.TextBoxFor(x => x.articulo, null, new { @class = "form-control", @id = "articulo" })
                                    @Html.ValidationMessageFor(x => x.articulo, null, new { @class = "text-danger was" })
                                </div>

                                <div class="form-group">
                                    <label>Clave de Unidad</label>
                                    @Html.DropDownListFor(x => x.claveUnidad, lstClavesUnidad, new { @class = "form-control", id = "claveUnidad", data_val = "false" })
                                    @Html.ValidationMessageFor(x => x.idLineaProducto, null, new { @class = "text-danger was" })
                                </div>

                                <div class="form-group">


                                </div>

                            </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-12" style="text-align:center">
                            <div class="form-group">
                                <h5>Códigos</h5>
                            </div>
                        </div>
                        <div class="col-6 col-sm-12 col-lg-6" style="text-align:center">
                            <div class="form-group">

                                <img src="" id="barra" style="position:absolute;margin:auto;top:0;left:0;right:0;bottom:0;" />
                            </div>
                        </div>
                        <div class="col-6 col-sm-12 col-lg-6" style="text-align:center">
                            <div class="form-group">
                                <img src="" id="qr" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-12">
                            <div class="text-right" style="margin-top:15px;">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <button type="submit" id="btnGuardarProducto" class="btn btn-success">Guardar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@*Modal Rangos de Precios *@
<div class="modal fade bd-example-modal-lg" id="RangosPreciosProductoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalRangosPrecios"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="col-md-6">
                        <address>
                            <div id="descNombreProducto"><strong>Descripción: &nbsp;</strong> aa </div>
                            <input type="hidden" id="idProductoRango" name="idProductoRango" value="0">

                            @*<div id="desdUnidadMedida"><strong>Unidad de Medida: &nbsp;</strong> descripcion </div>
                            <div id="descLineaProducto"><strong>Linea de Producto: &nbsp;</strong> descripcion </div>
                            <div id="descClaveProducto"><strong>Clave de Producto: &nbsp;</strong> descripcion </div>
                            <div id="descClaveUnidadMedida"><strong>Cantidad Unidad de Medida: &nbsp;</strong> descripcion </div>
                            <div id="descArticulo"><strong>Artículo: &nbsp;</strong> descripcion </div>
                            <div id="descClaveUnidad"><strong>Clave de Unidad: &nbsp;</strong> descripcion </div>*@
                        </address>
                    </div>

                    <div class="col-md-6 text-md-right">

                    </div>
                </div>


                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card">


                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-3">
                                        <div class="form-group">
                                            <label>Mínimo</label>
                                            <input id="min_" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-3">
                                        <div class="form-group">
                                            <label>Máximo</label>
                                            <input id="max_" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-3">
                                        <div class="form-group">
                                            <label>Precio</label>
                                            <input id="precio" type="text" class="form-control">
                                        </div>
                                    </div>                                    
                                    <div class="col-12 col-sm-12 col-lg-3">
                                        <div class="form-group">
                                            <div class="text-right" style="margin-top:30px;">
                                                <button type="button" id="btnAgregarPrecio" class="btn btn-success">Agregar Precio</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">

                        <div class="row mt-4">
                            <div class="col-md-12">

                                <div class="table-responsive">
                                    <table class="table table-striped" id="tablaRangosPrecios">
                                        <thead>
                                            <tr>
                                                <th data-width="40" style="width: 40px;">#</th>
                                                <th class="text-center">Cantidad Mínima</th>
                                                <th class="text-center">Cantidad Máxima</th>
                                                <th class="text-center">Precio</th>
                                                <th class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <div id="sinPrecios" align="center"></div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="button" id="btnGuardarPrecios" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>









@section scripts {

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/js/EvtProductos.js"></script>

}
