@model lluviaBackEnd.Models.PedidosEspeciales
@{
    ViewBag.Title = "Pedidos Especiales";

    lluviaBackEnd.Models.PedidosEspeciales pedidoEspecial = ViewBag.pedidoEspecial;

    List<lluviaBackEnd.Models.PedidosEspeciales> lstVentas = ViewBag.lstVentas;
    List<lluviaBackEnd.Models.Producto> lstProductos = ViewBag.lstProductos;
    List<SelectListItem> lstSucursales = (List<SelectListItem>)ViewBag.lstSucursales;
    List<lluviaBackEnd.Models.Cliente> lstClientes = (List<lluviaBackEnd.Models.Cliente>)ViewBag.lstClientes;
    int idPedidoEspecial = 0;// ViewBag.venta.idVenta;
    int idClientePedidoEspecial = 0;

}

@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/assets/bundles/select2/dist/css/select2.min.css" />

    <style>
        .modal {
            overflow: auto !important;
        }
    </style>
}


<section class="section">


    <div class="section-body">

        <div class="row mt-sm-4">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">

                    <div class="card-header">
                        <h4>Pedidos Especiales</h4>
                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-12 col-sm-12 col-lg-2">
                                <label>Herramientas</label>
                                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                                    <div class="btn-group mb-3" role="group" aria-label="Basic example">
                                        <a href="javascript:AbrirModalConsultaExistencias();" class="btn btn-icon btn-primary" data-toggle="tooltip" title="Consultar Existencias"><i class="fas fa-eye"></i> Consultar Existencias</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-7">
                                <div class="form-group">
                                    <label>Producto</label>
                                    @Html.HiddenFor(x => idPedidoEspecial)
                                    @Html.HiddenFor(x => idClientePedidoEspecial)
                                    <select id="idProducto"></select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-3">

                                <div class="form-group">
                                    <label>Cantidad</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input id="cantidad" type="text" class="form-control" onkeypress="return esNumero(event)">
                                        <div class="input-group-append">
                                            <button type="button" id="btnAgregarProducto" class="btn btn-success"> &nbsp; Agregar &nbsp;</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-sm-12">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="padding-20">
                        <div class="col-md-12">
                            <div class="section-title">Productos del Pedido Especial:</div>
                            <div class="table-responsive">
                                <table class="table table-striped" id="tablaRepPedidosEspeciales">
                                    <thead>
                                        <tr>
                                            <th data-width="40" style="width: 40px;">#</th>
                                            <th>Id Producto</th>
                                            <th>Producto</th>
                                            <th class="text-center">Precio</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Total</th>
                                            <th class="text-center">Descuento</th>
                                            <th class="text-center">Acciones </th>
                                            <th class="text-center" style="display: none;">idPedidoInternoDetalle</th>
                                        </tr>
                                    </thead>
                                    @if (pedidoEspecial != null)
                                    {
                                        if (pedidoEspecial.lstPedidosInternosDetalle.Count() > 0)
                                        {

                                            <tbody>
                                                @foreach (var item in pedidoEspecial.lstPedidosInternosDetalle)
                                                {
                                                    <tr>
                                                        <td>@item.contador</td>
                                                        <td>@item.idProducto</td>
                                                        <td>@item.descProducto</td>
                                                        <td class="text-center">$0</td>
                                                        <td class="text-center"><input type='text' onkeypress="return numerico(event)" style="text-align: center; border: none; border-color: transparent; background: transparent;" value="@item.cantidad"></td>
                                                        <td class="text-center">$0</td>
                                                        <td class="text-center">$0</td>
                                                        <td class="text-center"><a href="javascript:eliminaFila(0)" data-toggle="tooltip" title="" data-original-title="Eliminar"><i class="far fa-trash-alt"></i></a></td>
                                                        <td style="display: none;">@item.idPedidoInternoDetalle</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        }
                                        else
                                        {
                                            <tbody></tbody>
                                        }
                                    }
                                    else
                                    {
                                        <tbody></tbody>
                                    }
                                </table>
                            </div>

                            <div class="row mt-4">
                                <div class="col-lg-6">

                                </div>
                                <div class="col-lg-6 text-right">
                                    <hr class="mt-2 mb-2">
                                    <div class="invoice-detail-item">
                                        <div class="invoice-detail-name">Subtotal</div>
                                        <div class="invoice-detail-value" id="divSubTotal">$0.0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="text-md-right">
                            <button id="limpiar" class="btn btn-danger btn-icon icon-left"><i class="fas fa-times"></i>Limpiar</button>
                            <button id="previoPedidoEspecial" class="btn btn-primary btn-icon icon-left">
                                <i class="fas fa-credit-card"></i> Realizar Pedido Especial
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@*Modal previo venta *@
<div class="modal fade bd-example-modal-lg" id="ModalPrevioPedidoEspecial" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalPrevioPedidoEspecial">Previo: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-lg-7">

                        <div class="section-title"><strong>Descripción: </strong></div>
                        <div class="form-group">
                            <input id="descripcionPedidoInterno" type="text" class="form-control" >
                        </div>

                    </div>

                    <div class="col-lg-5 text-right">
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Total:</strong></div>
                            <div class="invoice-detail-value" id="previoTotal"><h4>$15</h4></div>
                        </div>
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Descuento: (Mayoreo)</strong></div>
                            <div class="invoice-detail-value" id="previoDescuentoMenudeo"><h4>$15</h4></div>
                        </div>
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Descuento: (Cliente)</strong></div>
                            <div class="invoice-detail-value" id="previoDescuentoCliente"><h4>$15</h4></div>
                        </div>
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Subtotal:</strong></div>
                            <div class="invoice-detail-value" id="previoSubTotal"><h4>$15</h4></div>
                        </div>
                        <hr class="mt-2 mb-2">
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Total</strong></div>
                            <div class="invoice-detail-value invoice-detail-value-lg" id="previoFinal"><h4>$15</h4></div>
                        </div>
                        <br />
                    </div>
                </div>

                <div class="row mt-4">
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="button" id="btnGuardarPedidoEspecial" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@*Modal Consulta Existencias de Productos *@
<div class="modal fade bd-example-modal-lg" id="ModalExistencias" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalExistencias">Consulta de Existencias:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card">

                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-5">
                                        <div class="form-group">
                                            <label>Producto:</label>
                                            @Html.DropDownListFor(model => model.idProducto, new SelectList(lstProductos, "idProducto", "descripcion"), new { id = "idProductoExistencia", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione un producto", data_val = "true" })
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-5">
                                        <div class="form-group">
                                            <label>Almacen:</label>
                                            @Html.DropDownListFor(x => x.idSucursal, lstSucursales, "-- SELECCIONA --  ", new { id = "idSucursalExistencia", @class = "form-control", data_val = "false" })
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-2">
                                        <div class="form-group">
                                            <div class="text-right" style="margin-top:30px;">
                                                <button type="button" id="btnBuscarExistencias" class="btn btn-success">Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">

                        <div class="row mt-4">
                            <div class="col-md-12">

                                <div id="existencias">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/bundles/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/EvtPedidosEspeciales.js"></script>

}


