@using lluviaBackEnd.Models;
@{ 
    Sesion sesion = Session["UsuarioActual"] as Sesion;
    Boolean ExisteInventarioFisicoActivo = Sesion.ExisteInventarioFisicoActivo();

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lluvia Artículos de Limpieza</title>

    <link rel="stylesheet" href="~/assets/css/app.min.css">
    <link rel="stylesheet" href="~/assets/bundles/izitoast/css/iziToast.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/components.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link href="~/assets/bundles/izitoast/css/iziToast.min.css" rel="stylesheet" />
    <link rel='shortcut icon' type='image/x-icon' href='~/assets/img/logo_lluvia_64.png' />
    <link href="~/assets/css/loader-lluvia.css" rel="stylesheet" />
    <link href="~/assets/css/styleLluvia.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    <script>
        var idUsuarioGlobal = @sesion.idUsuario
        var pathDominio ='@sesion.pathDominio/' ;
        var pathServer = '@Url.Content("~/assets/img/logo_lluvia.png")';
        function rootUrl(url) {
            var _rootUrl = '@Url.Content("~")';
            var x = url;
            if (url.indexOf(_rootUrl) != 0) {
                x = _rootUrl + "/" + url;
                x = x.replace(/\/\//g, "/").replace(/\/\//g, "/");
            }
            return x;
        };
    </script>
</head>
<body>
    <div id="loader-lluvia">
        <div class="loader-lluvia"></div>
        <span id="textLoader">Cargando ...</span>
    </div>

    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"><i data-feather="align-justify"></i></a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/assets/img/logo_lluvia_64.png"
                                 class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">

                            <a href="@Url.Action("CerrarSesion","DashBoard")" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                                Salir
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        @*<a href="index.html">*@
                            <img style="width:60px; height:53px;" alt="image" src="~/assets/img/logo_lluvia_64.png" class="header-logo" /> <span class="logo-name"></span>
                        @*</a>*@
                    </div>
                    <div class="sidebar-user">

                        <div class="sidebar-user-details">
                            <div class="user-name">@sesion.nombre @sesion.apellidoPaterno @sesion.apellidoMaterno</div>
                            <div class="user-role">@sesion.Rol</div>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        @if (sesion.permisosModulo.Exists(p => p.idModulo == (int)EnumRolesPermisos.Puede_visualizar_DashBoard && p.tienePermiso))
                        {
                            <li class="@(ViewBag.Title.ToString() == "Dashboard" ? "dropdown active" : "")">
                                <a href="@Url.Action("index", "DashBoard")">
                                    <i data-feather="monitor"></i><span>Dashboard</span>
                                </a>
                            </li>
                        }

                        @if (sesion.permisosModulo.Exists(p => p.idModulo == (int)EnumRolesPermisos.Puede_visualizar_Usuarios && p.tienePermiso) && !ExisteInventarioFisicoActivo)
                        {
                            <li class="@(ViewBag.Title.ToString() == "Usuarios" ? "dropdown active" : "")">
                                <a href="@Url.Action("Usuarios", "Usuarios")">
                                    <i data-feather="users"></i><span>Usuarios</span>
                                </a>
                            </li>
                        }
                        @if (sesion.permisosModulo.Exists(p => p.idModulo == (int)EnumRolesPermisos.Puede_visualizar_Estaciones && p.tienePermiso) && !ExisteInventarioFisicoActivo)
                        {
                            <li class="@(ViewBag.Title.ToString() == "Estaciones" ? "dropdown active" : "")">
                                <a href="@Url.Action("Estaciones", "Estaciones")">
                                    <i data-feather="airplay"></i><span>Estaciones</span>
                                </a>
                            </li>
                        }

                        @if (sesion.permisosModulo.Exists(p => p.idModulo == (int)EnumRolesPermisos.Puede_visualizar_Proveedores && p.tienePermiso) && !ExisteInventarioFisicoActivo)
                        {
                            <li class="@(ViewBag.Title.ToString() == "Proveedores" ? "dropdown active" : "")">
                                <a href="@Url.Action("Proveedores", "Proveedores")">
                                    <i data-feather="truck"></i><span>Proveedores</span>
                                </a>
                            </li>
                        }
                        @if (sesion.permisosModulo.Exists(p => p.idModulo == (int)EnumRolesPermisos.Puede_visualizar_Compras && p.tienePermiso) && !ExisteInventarioFisicoActivo)
                        {
                            <li class="@(ViewBag.Title.ToString() == "Consultar Compras" ? "dropdown active" : "")">
                                <a href="@Url.Action("Compras", "Compras")">
                                    <i data-feather="shopping-cart"></i><span>Compras</span>
                                </a>
                            </li>
                            @*<li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="shopping-cart"></i><span>Compras</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Nueva Compra" ? "dropdown active" : "")" href="@Url.Action("Compra", "Compras")">Nueva Compra</a></li>
                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Consultar Compras" ? "dropdown active" : "")" href="@Url.Action("Compras", "Compras")">Consultar Compras</a></li>
                </ul>
            </li>*@
                        }
                        @if (sesion.permisosModulo.Exists(p => p.idModulo == (int)EnumRolesPermisos.Puede_visualizar_Ventas && p.tienePermiso) && !ExisteInventarioFisicoActivo)
                        {
                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="dollar-sign"></i><span>Ventas</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Ventas" ? "dropdown active" : "")" href="@Url.Action("Ventas", "Ventas")">Nueva Venta</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Consultar Ventas" ? "dropdown active" : "")" href="@Url.Action("ConsultaVentas", "Ventas")">Editar Ventas</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Facturas" ? "dropdown active" : "")" href="@Url.Action("Facturas", "Factura")">Facturas</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Retiros" ? "dropdown active" : "")" href="@Url.Action("Retiros", "Ventas")">Retiros de Efectivo</a></li>

                                </ul>
                            </li>
                        }

                        @if (sesion.permisosModulo.Exists(p => p.idModulo == (int)EnumRolesPermisos.Puede_visualizar_Clientes && p.tienePermiso) && !ExisteInventarioFisicoActivo)
                        {
                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="briefcase"></i><span>Clientes</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Clientes" ? "dropdown active" : "")" href="@Url.Action("Clientes", "Clientes")">Administrar Clientes</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Descuentos" ? "dropdown active" : "")" href="@Url.Action("Descuentos", "Clientes")">Descuentos</a></li>
                                </ul>
                            </li>
                        }

                        @if (sesion.permisosModulo.Exists(p => p.idModulo == (int)EnumRolesPermisos.Puede_visualizar_Productos && p.tienePermiso) && !ExisteInventarioFisicoActivo)
                        {

                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="package"></i><span>Productos</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Productos" ? "dropdown active" : "")" href="@Url.Action("Productos", "Productos")">Productos</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Linea de Productos" ? "dropdown active" : "")" href="@Url.Action("LineaProducto", "LineaProducto")">Linea de Productos</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Ubicaciones" ? "dropdown active" : "")" href="@Url.Action("Ubicaciones", "Productos")">Imprimir Ubicaciones</a></li>
                                </ul>
                            </li>
                        }
                        @if (sesion.permisosModulo.Exists(p => p.idModulo == (int)EnumRolesPermisos.Puede_visualizar_InventarioFisico && p.tienePermiso))
                        {
                            <li class="@(ViewBag.Title.ToString() == "InventarioFisico" ? "dropdown active" : "")">
                                <a href="@Url.Action("InventarioFisico", "InventarioFisico")">
                                    <i data-feather="check-square"></i><span>Inventario Fisico</span>
                                </a>
                            </li>
                        }
                        @if (sesion.permisosModulo.Exists(p => p.idModulo == (int)EnumRolesPermisos.Puede_visualizar_Bitacoras && p.tienePermiso) && !ExisteInventarioFisicoActivo)
                        {
                            <li class="@(ViewBag.Title.ToString() == "Bitacoras" ? "dropdown active" : "")">
                                <a href="@Url.Action("Bitacoras", "Bitacora")">
                                    <i data-feather="file-text"></i><span>Bitacoras</span>
                                </a>
                            </li>
                        }
                        @if (sesion.permisosModulo.Exists(p => p.idModulo == (int)EnumRolesPermisos.Puede_visualizar_Reportes && p.tienePermiso) && !ExisteInventarioFisicoActivo)
                        {
                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="bar-chart-2"></i><span>Reportes</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Inventario" ? "dropdown active" : "")" href="@Url.Action("Inventario", "Reportes")">Inventario</a></li>
                                    @*<li><a class="nav-link @(ViewBag.Title.ToString() == "InventarioFisico" ? "dropdown active" : "")" href="@Url.Action("InventarioFisico", "Reportes")">InventarioFisico</a></li>*@
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Merma" ? "dropdown active" : "")" href="@Url.Action("Merma", "Reportes")">Merma</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Compras" ? "dropdown active" : "")" href="@Url.Action("Compras", "Reportes")">Compras</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Ventas" ? "dropdown active" : "")" href="@Url.Action("Ventas", "Reportes")">Ventas</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Devoluciones" ? "dropdown active" : "")" href="@Url.Action("Devoluciones", "Reportes")">Devoluciones</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Margen Bruto" ? "dropdown active" : "")" href="@Url.Action("MargenBruto", "Reportes")">Margen Bruto</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "Dias Promedio Inventario" ? "dropdown active" : "")" href="@Url.Action("DiasPromedioInventario", "Reportes")">Dias Promedio Inventario</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "DropSize" ? "dropdown active" : "")" href="@Url.Action("DropSize", "Reportes")">DropSize</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "NivelServicioProveedor" ? "dropdown active" : "")" href="@Url.Action("NivelServicioProveedor", "Reportes")">Nivel Servicio Proveedor</a></li>
                                    <li><a class="nav-link @(ViewBag.Title.ToString() == "DevolucionesProveedor" ? "dropdown active" : "")" href="@Url.Action("DevolucionesProveedor", "Reportes")">Devoluciones Proveedor</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </aside>
            </div>

            <div class="main-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Lluvia - Artículos de Limpieza </p>
                </footer>
            </div>
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/bundles/izitoast/js/iziToast.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/bundles/amcharts4/core.js"></script>
    <script src="~/assets/bundles/amcharts4/charts.js"></script>
    <script src="~/assets/bundles/amcharts4/animated.js"></script>
    <script src="~/assets/bundles/jquery.sparkline.min.js"></script>
    <script src="~/assets/bundles/izitoast/js/iziToast.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="~/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/js/Index.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
