<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lluvia Artículos de Limpieza</title>

    <link rel="stylesheet" href="~/assets/css/app.min.css">
    <link rel="stylesheet" href="~/assets/bundles/izitoast/css/iziToast.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/components.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/assets/img/favicon.ico' />

    @RenderSection("Styles", false)
</head>
<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"><i data-feather="align-justify"></i></a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/assets/img/user.png"
                                 class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello Sarah Smith</div>
                            <a href="profile.html" class="dropdown-item has-icon">
                                <i class="far
										fa-user"></i> Profile
                            </a> <a href="timeline.html" class="dropdown-item has-icon">
                                <i class="fas fa-bolt"></i>
                                Activities
                            </a> <a href="#" class="dropdown-item has-icon">
                                <i class="fas fa-cog"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="auth-login.html" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html">
                            <img style="width:60px; height:53px;" alt="image" src="~/assets/img/logo_lluvia_64.png" class="header-logo" /> <span class="logo-name"></span>
                        </a>
                    </div>
                    <div class="sidebar-user">
                        <div class="sidebar-user-picture">
                            <img alt="image" src="~/assets/img/user.png">
                        </div>
                        <div class="sidebar-user-details">
                            <div class="user-name">Sarah Smith</div>
                            <div class="user-role">Administrator</div>
                        </div>
                    </div>
                    <ul class="sidebar-menu">

                        <li class="@(ViewBag.Title.ToString() == "Dashboard" ? "dropdown active" : "")">
                            <a href="@Url.Action("index", "DashBoard")">
                                <i data-feather="monitor"></i><span>Dashboard</span>
                            </a>
                        </li>

                        <li class="@(ViewBag.Title.ToString() == "Usuarios" ? "dropdown active" : "")">
                            <a href="@Url.Action("Usuarios", "Usuarios")">
                                <i data-feather="users"></i><span>Usuarios</span>
                            </a>
                        </li>

                        <li class="@(ViewBag.Title.ToString() == "Proveedores" ? "dropdown active" : "")">
                            <a href="@Url.Action("Proveedores", "Proveedores")">
                                <i data-feather="truck"></i><span>Proveedores</span>
                            </a>
                        </li>

                        <li class="@(ViewBag.Title.ToString() == "Clientes" ? "dropdown active" : "")">
                            <a href="@Url.Action("Clientes", "Clientes")">
                                <i data-feather="briefcase"></i><span>Clientes</span>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="package"></i><span>Productos</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link @(ViewBag.Title.ToString() == "Productos" ? "dropdown active" : "")" href="@Url.Action("Productos", "Productos")">Productos</a></li>
                                <li><a class="nav-link @(ViewBag.Title.ToString() == "Linea de Productos" ? "dropdown active" : "")" href="@Url.Action("LineaProducto", "LineaProducto")">Linea de Productos</a></li>
                            </ul>
                        </li>

                        <li class="@(ViewBag.Title.ToString() == "Facturas" ? "dropdown active" : "")">
                            <a href="@Url.Action("Facturas", "Facturas")">
                                <i data-feather="file"></i><span>Facturación</span>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="bar-chart-2"></i><span>Reportes</span></a>
                            <ul class="dropdown-menu">
                                @*<li><a class="nav-link @(ViewBag.Title.ToString() == "Reporte Productos" ? "dropdown active" : "")" href="@Url.Action("ReporteProductos", "Reportes")">Productos</a></li>*@
                                <li><a class="nav-link" href="#">Inventario</a></li>
                                <li><a class="nav-link" href="#">Compras</a></li>
                                <li><a class="nav-link" href="#">Ventas</a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="main-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Lluvia - Artículos de Limpieza </p>
                </footer>
            </div>
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/bundles/izitoast/js/iziToast.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/bundles/amcharts4/core.js"></script>
    <script src="~/assets/bundles/amcharts4/charts.js"></script>
    <script src="~/assets/bundles/amcharts4/animated.js"></script>
    <script src="~/assets/bundles/jquery.sparkline.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="~/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/js/Index.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
