@using System.Globalization;
@using lluviaBackEnd.Models
@model lluviaBackEnd.Models.Notificacion<List<lluviaBackEnd.Models.Retiros>>

@{
    List<lluviaBackEnd.Models.Retiros> retiros = Model.Modelo;
    int idRol = ViewBag.idRol;
}

@if (Model.Estatus != 200)
{

    <div class="empty-state">
        <div class="empty-state-icon">
            <i class="fas fa-info"></i>
        </div>
        <h2>@Model.Mensaje</h2>
    </div>

}
else
{
    <div class="table-responsive">
        <table class="table table-striped" id="tblRetiros">
            <thead>
                <tr>
                    <th>Tipo Retiro</th>
                    <th>Monto</th>
                    <th>Usuario</th>
                    <th>Usuario Autorizo</th>
                    <th>Estación</th>
                    <th>Estatus</th>
                    <th>Fecha</th>
                    @if (idRol == 1 || idRol == 2)
                    {
                        <th>Acciones</th>
                    }
                    else
                    {
                        <th>Monto Autorizado</th>
                    }

                </tr>
            </thead>
            <tbody>

                @foreach (lluviaBackEnd.Models.Retiros c in retiros)
                {
                <tr>

                    <td><div class="badge @Html.Raw(c.tipoRetiro==lluviaBackEnd.Models.EnumTipoRetiro.RetirosCierreDia ? "badge-success" : "badge-primary") badge-shadow">@Html.Raw(c.tipoRetiro == lluviaBackEnd.Models.EnumTipoRetiro.RetirosCierreDia ? "Retiros al cierre del dìa" : "Retiros por exceso de efectivo")</div></td>
                    <td>@c.montoRetiro.ToString("C", new CultureInfo("en-US"))</td>
                    <td>@c.nombreUsuario</td>
                    <td>@c.nombreUsuarioAut</td>
                    <td>@c.nombreEstacion</td>

                    <td>
                        @{
                            switch (c.estatusRetiro.idStatus)
                            {
                                case 1:
                                    {
                                        <div class="badge badge-warning badge-shadow">@c.estatusRetiro.descripcion</div>
                                    }
                                    break;

                                case 2:
                                    {
                                        <div class="badge badge-primary badge-shadow">@c.estatusRetiro.descripcion</div>
                                    }
                                    break;

                                case 3:
                                    {
                                        <div class="badge badge-danger badge-shadow">@c.estatusRetiro.descripcion</div>
                                    }
                                    break;

                                default:
                                    {
                                        <div class="badge badge-light badge-shadow">@c.estatusRetiro.descripcion</div>
                                    }
                                    break;
                            }
                        }

                    </td>


                    <td>@c.fechaAlta</td>

                    @if (idRol == 1 || idRol == 2)
                    {
                        <td>
                            @if (c.fechaAlta.ToShortDateString() == DateTime.Now.ToShortDateString() && c.estatusRetiro.idStatus == 1)
                            {
                                <div class="row">
                                    <div class="input-group col-lg-10">
                                        @Html.TextBoxFor(x => c.montoRetiro, new { @class = "form-control", data_val = "true", @id = "Monto_" + c.idRetiro + "_" + Convert.ToInt32(c.tipoRetiro), onkeypress = "return esPrecio(event)" })
                                        <div class="input-group-append">
                                            <a href="javascript:ActualizarEstatusRetiro(@c.idRetiro,@Convert.ToInt32(c.tipoRetiro),2);" class="btn btn-icon btn-primary input-group-text" data-toggle="tooltip" title="Autorizar"><i class="fas fa-check"></i></a>
                                            <a href="javascript:ActualizarEstatusRetiro(@c.idRetiro,@Convert.ToInt32(c.tipoRetiro),3);" class="btn btn-icon btn-danger input-group-text" data-toggle="tooltip" title="Cancelar"><i class="fas fa-times"></i></a>

                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @Html.Raw("Monto autorizado: " + c.montoAutorizado.ToString("C", new CultureInfo("en-US")))
                            }

                        </td>
                    }
                    else
                    {
                        <td>@c.montoAutorizado.ToString("C", new CultureInfo("en-US"))</td>
                    }
                </tr>
                }
            </tbody>

        </table>
    </div>

}




