@model List<lluviaBackEnd.Models.Ventas>
@{
                /**/

                List<lluviaBackEnd.Models.Ventas> lstVentas = ViewBag.lstVentas;
                //List<SelectListItem> lstLineasDeProductos = (List<SelectListItem>)ViewBag.lstLineasDeProductos;
                //List<SelectListItem> lstClientes = (List<SelectListItem>)ViewBag.lstClientes;
                //List<SelectListItem> lstUsuarios = (List<SelectListItem>)ViewBag.lstUsuarios;
}



@if ( lstVentas.Count <= 0 )
{

    <div class="empty-state">
        <div class="empty-state-icon">
            <i class="fas fa-info"></i>
        </div>
        <h2>No existen ventas para el periodo seleccionado.</h2>
    </div>

}
else
{


    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tablaConsultaVentas">
                                <thead>
                                    <tr>
                                        <th class="text-center"> Id </th>
                                        <th>Cliente</th>
                                        <th>Fecha</th>
                                        <th>Cantidad</th>
                                        <th>Usuario</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in lstVentas)
                                    {
                                        <tr>
                                            <td>@item.contador</td>
                                            <td>@item.nombreCliente</td>
                                            <td>@item.fechaAlta</td>
                                            <td>@item.cantidad</td>
                                            <td>@item.nombreUsuario</td>
                                            <td>
                                                <div class="buttons">
                                                    @*<a href="javascript:VerDetalleVenta(@item.idProducto);" class="btn btn-icon btn-success" data-toggle="tooltip" title="Ver Detalle de la Venta"><i class="fas fa-file-alt"></i></a>*@
                                                    @*window.location.href = '@Url.Action("MyMethod", "SomeControllerName", new { area = "MyArea", id = Model.MyId })';*@

                                                    @if (item.idEstatusFactura == (int)lluviaBackEnd.Models.EnumEstatusFactura.Facturada)
                                                    {
                                                        <a href="@item.rutaFactura" target="_blank" class="btn btn-icon btn-secondary" data-toggle="tooltip" title="Ver Factura"><i class="fas fa-eye"></i></a>
                                                        <a href="javascript:CancelarFactura(@item.idVenta);" class="btn btn-icon btn-danger" data-toggle="tooltip" title="Cancelar Factura"><i class="fas fa-ban"></i></a>
                                                    }

                                                    @if (item.idEstatusFactura == 0 || item.idEstatusFactura == (int)lluviaBackEnd.Models.EnumEstatusFactura.Cancelada)
                                                    {
                                                        <a href="javascript:modalFacturar(@item.idVenta);" class="btn btn-icon btn-primary" data-toggle="tooltip" title="Generar Factura"><i class="fas fa-file-invoice-dollar"></i></a>
                                                        @*<a href="@Url.Action("Ventas", "Ventas", new { idVenta = item.idVenta })" class="btn btn-icon btn-info" data-toggle="tooltip" title="Editar Venta"><i class="far fa-edit"></i></a>*@
                                                        <a href="javascript:CancelaVenta(@item.idVenta);" class="btn btn-icon btn-danger" data-toggle="tooltip" title="Cancelar Venta"><i class="fas fa-times"></i></a>
                                                    }

                                                    <a href="javascript:ImprimeTicket(@item.idVenta);" class="btn btn-icon btn-warning" data-toggle="tooltip" title="Imprimir Ticket"><i class="fas fa-print"></i></a>
                                                    <a href="@Url.Action("VerTicket", "Ventas", new {idVenta=item.idVenta})" class="btn btn-icon btn-success" data-toggle="tooltip" title="Ver Ticket" target="_blank"><i class="fas fa-eye"></i></a>

                                                    @if (item.productosDevueltos < ViewBag.devolucionesPermitidas)
                                                    {
                                                        <a href="@Url.Action("Ventas", "Ventas", new { idVenta = item.idVenta, esDevolucion = "true", esAgregarProductos = "false" })" class="btn btn-icon btn-warning" data-toggle="tooltip" title="Devolver Productos"><i class="far fa-minus-square"></i></a>
                                                    }

                                                    @if (item.productosAgregados < ViewBag.agregarProductosPermitidos)
                                                    {
                                                        <a href="@Url.Action("Ventas", "Ventas", new { idVenta = item.idVenta, esAgregarProductos = "true", esDevolucion = "false" })" class="btn btn-icon btn-success" data-toggle="tooltip" title="Agregar Productos"><i class="far fa-plus-square"></i></a>
                                                    }
                                                
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




}




