@model lluviaBackEnd.Models.Ventas
@{
    ViewBag.Title = "Consulta Ventas";
    //List<lluviaBackEnd.Models.Ventas> lstVentas = ViewBag.lstVentas;
    List<lluviaBackEnd.Models.Producto> lstProductos = ViewBag.lstProductos;
    List<lluviaBackEnd.Models.FormaPago> lstFormasPago = ViewBag.lstFormasPago;
    List<lluviaBackEnd.Models.UsoCFDI> lstUsoCFDI = ViewBag.lstUsoCFDI;
    List<SelectListItem> lstClientes = (List<SelectListItem>)ViewBag.lstClientes;
    List<SelectListItem> listUsuarios = (List<SelectListItem>)ViewBag.lstUsuarios;

}
@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/assets/bundles/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css" />

}
<h2>Editar Ventas</h2>
<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Buscar Ventas</h4>
                <div class="card-header-action">
                    <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                </div>
            </div>
            <div class="collapse show" id="mycard-collapse">
                <div class="card-body">
                    @using (Ajax.BeginForm("_ObtenerVentas", "Ventas",
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnBegin = "onBeginSubmitConsultaVentas",
                        OnComplete = "onCompleteSubmitConsultaVentas",
                        OnFailure = "onFailureResultConsultaVentas",
                        OnSuccess = "onSuccessResultConsultaVentas",
                    },
                    new { id = "frmConsultaVentas" }))
                    {
                        @Html.HiddenFor(x => x.fechaIni, new { @id = "fechaIni" })
                        @Html.HiddenFor(x => x.fechaFin, new { @id = "fechaFin" })

                        <div class="row">

                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Codigo de Barras: </label>
                                    @Html.TextBoxFor(model => model.codigoBarrasTicket, null, new { @class = "form-control", @id = "codigoBarrasTicket" })
                                    @*
                                        @Html.DropDownListFor(model => model.idProducto, new SelectList(lstProductos, "idProducto", "descripcion"), new { id = "idProducto", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione un producto", data_val = "true" })
                                    *@
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Cliente: </label>
                                    @Html.DropDownListFor(model => model.idCliente, lstClientes, new { id = "idCliente", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione un producto", data_val = "true" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Rango de Fechas</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-calendar"></i>
                                            </div>
                                        </div>
                                        <input type="text" id="rangeConsultaVentas" class="form-control daterange-cus">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Usuario: </label>
                                    @Html.DropDownListFor(model => model.idUsuario, listUsuarios, "--TODOS--", new { style = "width:100%", @class = "select-multiple", placeholder = "", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Forma de pago: </label>
                                    @Html.DropDownListFor(model => model.idFactFormaPago, new SelectList(lstFormasPago, "id", "descripcion"), "--TODOS--", new { style = "width:100%", @class = "select-multiple", placeholder = "", data_val = "false" })
                                </div>
                            </div>
                        </div>

                        <div class="text-right" style="margin-top:15px;">
                            <button type="submit" id="btnBuscarVentas" class="btn btn-success">Buscar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rowConsultaVentas">
    @Html.Action("_ObtenerVentas", "Ventas", new { fechaIni = DateTime.Now, fechaFin = DateTime.Now })
</div>


@*Modal facturacion *@
<div class="modal fade bd-example-modal-lg" id="ModalFacturar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalPrevioVenta">Facturar Venta: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="section-title"><strong>Cliente: </strong></div>
                        <input type="hidden" id="idVentaIVA" name="idVentaIVA" value="0">
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.idCliente, lstClientes, new { id = "idClienteIVA", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione un cliente", data_val = "true" })
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div id="nombreCliente">
                                    <address>
                                        <strong></strong><br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="section-title"><strong>Forma de Pago: </strong></div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.formaPago, new SelectList(lstFormasPago, "id", "descripcion"), new { id = "formaPago", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione una forma de pago", data_val = "true" })
                        </div>

                        <div id="divUsoCFDI">
                            <div class="section-title"><strong>Uso del CFDI: </strong></div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.usoCFDI, new SelectList(lstUsoCFDI, "id", "descripcion"), new { id = "usoCFDI", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione una forma de pago", data_val = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 text-right">
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Total de la Venta:</strong></div>
                            <div class="invoice-detail-value" id="previoTotal"><h4>$15</h4></div>
                        </div>
                        @*<div class="invoice-detail-item">
                                <div class="invoice-detail-name"><strong>Descuento: (Cliente)</strong></div>
                                <div class="invoice-detail-value" id="previoDescuentoCliente"><h4>$15</h4></div>
                            </div>*@
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Subtotal:</strong></div>
                            <div class="invoice-detail-value" id="previoSubTotal" style="color: #3232ba"><h4>$15</h4></div>
                        </div>
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>I.V.A.</strong></div>
                            <div class="invoice-detail-value" id="previoIVA"><h4>$15</h4></div>
                        </div>
                        <hr class="mt-2 mb-2">
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Total</strong></div>
                            <div class="invoice-detail-value invoice-detail-value-lg" id="previoFinal"><h4>$15</h4></div>
                        </div>
                        <br />
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Cambio</strong></div>
                            <div class="invoice-detail-value invoice-detail-value-lg" id="cambio" style="color: #ff4d4d"><h4>$0.0</h4></div>
                        </div>
                        @*<hr class="mt-2 mb-2">*@
                        <br />
                        <div class="section-title"><strong>Efectivo: </strong></div>
                        <span class="float-right text-muted">
                            <input id="efectivo" type="text" placeholder="Introduzca la cantidad ($) que está recibiendo" class="form-control" onkeypress="return esDecimal(this, event);">
                        </span>
                    </div>
                </div>
                <div class="row mt-4">
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="button" id="btnGuardarIVA" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@*Modal Detalle de Tickets *@
<div class="modal fade bd-example-modal-lg" id="modalVerDetalleTickets" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalPrevioVenta">Detalle de Tickets: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="detallesTickets">  </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" id="btnCancelarDetalleTickets" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/bundles/select2/dist/js/select2.full.min.js"></script>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <script src="~/js/UtilsFactura.js"></script>
    <script src="~/js/EvtConsultaVentas.js"></script>


}
