@model lluviaBackEnd.Models.Ventas
@{
    ViewBag.Title = "Ventas";
    List<lluviaBackEnd.Models.Ventas> lstVentas = ViewBag.lstVentas;
    List<lluviaBackEnd.Models.Producto> lstProductos = ViewBag.lstProductos;
    List<lluviaBackEnd.Models.FormaPago> lstFormasPago = ViewBag.lstFormasPago;
    List<lluviaBackEnd.Models.UsoCFDI> lstUsoCFDI = ViewBag.lstUsoCFDI;
    List<SelectListItem> lstSucursales = (List<SelectListItem>)ViewBag.lstSucursales;
    List<SelectListItem> lstClientes = (List<SelectListItem>)ViewBag.lstClientes;
    lluviaBackEnd.Models.Ventas venta = ViewBag.venta;
    int idVenta = ViewBag.venta.idVenta;
    lluviaBackEnd.Models.Notificacion<List<lluviaBackEnd.Models.Ticket>> notificacion = new lluviaBackEnd.Models.Notificacion<List<lluviaBackEnd.Models.Ticket>>();


    if (idVenta > 0)
    {
        notificacion = new lluviaBackEnd.DAO.VentasDAO().ObtenerTickets(new lluviaBackEnd.Models.Ticket() { idVenta = idVenta });
        //List<lluviaBackEnd.Models.Ticket> lstTicket = notificacion.Modelo;

    }


}

@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/assets/bundles/select2/dist/css/select2.min.css" />
}


<section class="section">


    <div class="section-body">

        <div class="row mt-sm-4">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">

                    <div class="card-header">
                        <h4>Agregar Productos</h4>
                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-12 col-sm-12 col-lg-2">
                                <label>Herramientas</label>
                                <div class="buttons">
                                    <div class="btn-group mb-3" role="group" aria-label="Basic example">
                                        <a href="javascript:AbrirModalConsultaExistencias();" class="btn btn-icon btn-primary" data-toggle="tooltip" title="Consultar Existencias"><i class="fas fa-eye"></i></a>
                                        <a href="javascript:AbrirModalCierreCajaExcedentes();" class="btn btn-icon btn-warning" data-toggle="tooltip" title="Cierre de Caja (Exceso de Efectivo)"><i class="fas fa-dollar-sign"></i></a>
                                        <a href="javascript:AbrirModalCierreDia();" class="btn btn-icon btn-success" data-toggle="tooltip" title="Cierre de Caja (Final del día)"><i class="fas fa-dollar-sign"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-7">
                                <div class="form-group">
                                    <label>Producto</label>
                                    @Html.HiddenFor(x => idVenta)
                                    <input type="hidden" id="vaConDescuento" name="vaConDescuento" value="0">
                                    @Html.DropDownListFor(model => model.precio, new SelectList(lstProductos, "idProducto", "descripcionConExistencias"), new { id = "idProducto", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione un producto", data_val = "true" })
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-3">
                                <div class="form-group">
                                    <label>Cantidad</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input id="cantidad" type="text" class="form-control" onkeypress="return esNumero(event)">
                                        <div class="input-group-append">
                                            <button type="button" id="btnAgregarProducto" class="btn btn-success"> &nbsp; Agregar &nbsp;</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-sm-12">

            @*<div class="col-12 col-md-12 col-lg-1">


                <div class="card-body" style="padding: 20px 10px">

                    <div class="btn-group-vertical" role="group" aria-label="Basic example">

                        <a href="javascript:AbrirModalConsultaExistencias();" class="btn btn-icon btn-primary" data-toggle="tooltip" title="Consultar Existencias"><i class="fas fa-eye"></i></a>
                        <a href="javascript:AbrirModalCierreCajaExcedentes();" class="btn btn-icon btn-warning" data-toggle="tooltip" title="Cierre de Caja (Exceso de Efectivo)"><i class="fas fa-dollar-sign"></i></a>
                        <a href="javascript:AbrirModalCierreDia();" class="btn btn-icon btn-success" data-toggle="tooltip" title="Cierre de Caja (Final del día)"><i class="fas fa-dollar-sign"></i></a>

                    </div>
                </div>
            </div>*@


            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="padding-20">
                        <div class="col-md-12">
                            <div class="section-title">Resumen de la venta</div>
                            @*<div class="section-title" id="descuentoCliente">Resumen de la venta</div>*@

                            <div class="table-responsive">
                                <table class="table table-striped" id="tablaRepVentas">
                                    <thead>
                                        <tr>
                                            <th data-width="40" style="width: 40px;">#</th>
                                            <th>Id Producto</th>
                                            <th>Producto</th>
                                            <th class="text-center">Precio</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Total</th>
                                            <th class="text-center">Descuento</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    @if (notificacion.Modelo != null)
                                    {
                                        if (notificacion.Modelo.Count() > 0)
                                        {
                                            <tbody>
                                                @foreach (var item in notificacion.Modelo)
                                                {
                                                <tr>
                                                    <td>1</td>
                                                    <td>@item.idProducto</td>
                                                    <td>@item.descProducto</td>
                                                    <td class="text-center">$@item.monto</td>
                                                    <td class="text-center"><input type='text' onkeypress="return numerico(event)" style="text-align: center; border: none; border-color: transparent; background: transparent;" value="@item.cantidad"></td>
                                                    <td class="text-center">$@Convert.ToInt32(item.cantidad * @item.monto)</td>
                                                    <td class="text-center">0</td>
                                                    <td class="text-center">7</td>
                                                </tr>

                                                }

                                            </tbody>
                                        }
                                    }
                                    else
                                    {
                                        <tbody></tbody>
                                    }

                                </table>
                            </div>

                            <div class="row mt-4">
                                <div class="col-lg-6">

                                </div>
                                <div class="col-lg-6 text-right">

                                    @*<div class="invoice-detail-item">
                                            <div class="invoice-detail-name">I.V.A.</div>
                                            <div class="invoice-detail-value" id="divIva">$15</div>
                                        </div>*@
                                    <hr class="mt-2 mb-2">
                                    <div class="invoice-detail-item">
                                        <div class="invoice-detail-name">Subtotal</div>
                                        <div class="invoice-detail-value" id="divSubTotal">$670.99</div>
                                    </div>
                                    @*<div class="invoice-detail-item">
                                            <div class="invoice-detail-name">Total</div>
                                            <div class="invoice-detail-value invoice-detail-value-lg" id="divTotal">$685.99</div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-md-right">
                            <button id="limpiar" class="btn btn-danger btn-icon icon-left"><i class="fas fa-times"></i>Limpiar</button>
                            <button id="previoVenta" class="btn btn-primary btn-icon icon-left">
                                <i class="fas fa-credit-card"></i> Realizar Venta
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>





    </div>

</section>



@*Modal previo venta *@
<div class="modal fade bd-example-modal-lg" id="ModalPrevioVenta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalPrevioVenta">Previo: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-lg-7">
                        <div class="section-title"><strong>Cliente: </strong></div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.idCliente, lstClientes, new { id = "idCliente", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione un cliente", data_val = "true" })
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div id="nombreCliente">
                                    <address>
                                        <strong></strong><br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>

                                    </address>
                                </div>
                            </div>
                        </div>

                        <div class="section-title"><strong>Forma de Pago: </strong></div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.formaPago, new SelectList(lstFormasPago, "id", "descripcion"), new { id = "formaPago", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione una forma de pago", data_val = "true" })
                        </div>

                        <div class="pretty p-svg p-curve">
                            <input id="chkFacturar" type="checkbox">
                            <div class="state p-success">
                                <!-- svg path -->
                                <svg class="svg svg-icon" viewBox="0 0 20 20">
                                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                </svg>
                                <label>Facturar esta Venta.</label>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div id="divUsoCFDI">
                            <div class="section-title"><strong>Uso del CFDI: </strong></div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.usoCFDI, new SelectList(lstUsoCFDI, "id", "descripcion"), new { id = "usoCFDI", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione una forma de pago", data_val = "true" })
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-5 text-right">
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Total:</strong></div>
                            <div class="invoice-detail-value" id="previoTotal"><h4>$15</h4></div>
                        </div>
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Descuento: (Menudeo)</strong></div>
                            <div class="invoice-detail-value" id="previoDescuentoMenudeo"><h4>$15</h4></div>
                        </div>
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Descuento: (Cliente)</strong></div>
                            <div class="invoice-detail-value" id="previoDescuentoCliente"><h4>$15</h4></div>
                        </div>
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Subtotal:</strong></div>
                            <div class="invoice-detail-value" id="previoSubTotal"><h4>$15</h4></div>
                        </div>
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>I.V.A.</strong></div>
                            <div class="invoice-detail-value" id="previoIVA"><h4>$15</h4></div>
                        </div>
                        <hr class="mt-2 mb-2">
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Total</strong></div>
                            <div class="invoice-detail-value invoice-detail-value-lg" id="previoFinal"><h4>$15</h4></div>
                        </div>
                        <br />
                        <div class="invoice-detail-item">
                            <div class="invoice-detail-name"><strong>Cambio</strong></div>
                            <div class="invoice-detail-value invoice-detail-value-lg" id="cambio" style="color: #ff4d4d"><h4>$0.0</h4></div>
                        </div>

                        @*<hr class="mt-2 mb-2">*@
                        <br />
                        <div class="section-title"><strong>Efectivo: </strong></div>
                        <span class="float-right text-muted">
                            <input id="efectivo" type="text" class="form-control" onkeypress="return esNumero(event)">
                        </span>

                    </div>

                </div>

                <div class="row mt-4">

                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="button" id="btnGuardarVenta" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




@*Modal Consulta Existencias de Productos *@
<div class="modal fade bd-example-modal-lg" id="ModalExistencias" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalExistencias">Consulta de Existencias:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card">

                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-5">
                                        <div class="form-group">
                                            <label>Producto:</label>
                                            @Html.DropDownListFor(model => model.idProducto, new SelectList(lstProductos, "idProducto", "descripcion"), new { id = "idProductoExistencia", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione un producto", data_val = "true" })
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-5">
                                        <div class="form-group">
                                            <label>Almacen:</label>
                                            @*@Html.DropDownListFor(model => model.idAlmacen, new SelectList(lstProductos, "idProducto", "descripcion"), new { id = "idAlmacenExistencia", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione un producto", data_val = "true" })*@
                                            @Html.DropDownListFor(x => x.idSucursal, lstSucursales, new { id = "idSucursalExistencia-", @class = "form-control", data_val = "false" })
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-2">
                                        <div class="form-group">
                                            <div class="text-right" style="margin-top:30px;">
                                                <button type="button" id="btnBuscarExistencias" class="btn btn-success">Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">

                        <div class="row mt-4">
                            <div class="col-md-12">

                                <div id="existencias">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Modal Cierre de Caja por Exceso de Efectivo *@
<div class="modal fade bd-example-modal-lg" id="ModalCierreExceso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalExistencias">Cierre de Caja por Exceso de Efectivo:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">

                        <div class="row">

                            <div class="col-12 col-sm-12 col-lg-6">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-12">
                                            @*<address>
                                                <strong>Resumen:</strong><br>
                                                <div id="ventasDelDia">Ventas del día:  0 </div>
                                                <div id="montoVentasDelDia">Monto de Ventas:  0 </div>
                                                <div id="cantidadEfectivo">Cantidad en Efectivo:  0 </div>
                                                <div id="cantidadRetirada">Cantidad Retirada del día:  0 </div>
                                            </address>*@

                                            <div class="py-4">
                                                <div id="ventasDelDia">
                                                    <p class="clearfix">
                                                        <span class="float-left">Ventas del día:</span>
                                                        <span class="float-right text-muted">0</span>
                                                    </p>
                                                </div>

                                                <div id="montoVentasDelDia">
                                                    <p class="clearfix">
                                                        <span class="float-left">Monto de Ventas:</span>
                                                        <span class="float-right text-muted">0</span>
                                                    </p>
                                                </div>

                                                <div id="cantidadEfectivo">
                                                    <p class="clearfix">
                                                        <span class="float-left">Cantidad en Efectivo:</span>
                                                        <span class="float-right text-muted">0</span>
                                                    </p>
                                                </div>

                                                <div id="cantidadRetirada">
                                                    <p class="clearfix">
                                                        <span class="float-left">Cantidad Retirada del día:</span>
                                                        <span class="float-right text-muted">0</span>
                                                    </p>
                                                </div>
                                            </div>




                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label>Cantidad a Retirar:</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input id="montoARetirar" type="text" class="form-control" onkeypress="return esPrecio(event)">
                                        <div class="input-group-append">
                                            <button class="btn btn-success" id="btnRetirarExcesoEfectivo" type="button">Retirar Dinero</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">

                        <div class="row mt-4">
                            <div class="col-md-12">
                                
                                <div id="tblRetiros_"></div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



@*Modal Cierre de Dia *@
<div class="modal fade  bd-example-modal-lg" id="ModalCierre" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalExistencias">Cierre de Caja fin de Día:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">

                        <div class="row">

                            <div class="col-12 col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div id="retirosDelDiaV2">
                                                                                         
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-1">
                            </div>

                                <div class="col-12 col-sm-12 col-lg-5">
                                    <div class="form-group">

                                        <h5>Resumen:</h5>
                                        
                                        <div class="py-4">
                                            <div id="vtasDelDiaCierre">
                                                <p class="clearfix">
                                                    <span class="float-left">Ventas del día:</span>
                                                    <span class="float-right text-muted">0</span>
                                                </p>
                                            </div>

                                            <div id="totalEfectivoCierre">
                                                <p class="clearfix">
                                                    <span class="float-left">Total Efectivo:</span>
                                                    <span class="float-right text-muted">0</span>
                                                </p>
                                            </div>

                                            <div id="retirosDelDiaCierre">
                                                <p class="clearfix">
                                                    <span class="float-left">Retiros del Día:</span>
                                                    <span class="float-right text-muted">0</span>
                                                </p>
                                            </div>

                                            <div id="totalCierre">
                                                <p class="clearfix">
                                                    <span class="float-left">Cantidad para Cierre:</span>
                                                    <span class="float-right text-muted">0</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">

                        <div class="row mt-4">
                            <div class="col-md-12">

                                <div id="tblRetiros_"></div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button> &nbsp;&nbsp;
                            <button class="btn btn-success " id="btnCierreDia" type="button">Hacer Cierre de Dia</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

  

@section scripts {

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/bundles/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/EvtVentas.js"></script>

}


