@model lluviaBackEnd.Models.Usuario
@{
    //List<lluviaBackEnd.Models.Usuario> lstUsuario = Model;
    //List<lluviaBackEnd.Models.Usuario> lstUsuario = ViewBag.lstUsuario;
    List<lluviaBackEnd.Models.Usuario> lstUsuario = ViewBag.lstUsuario;
    System.Globalization.TextInfo ti = System.Globalization.CultureInfo.CurrentCulture.TextInfo;
    //List<SelectListItem> lstRoles = (List<SelectListItem>)ViewBag.lstRoles;
    //List<SelectListItem> lstAlmacenes = (List<SelectListItem>)ViewBag.lstAlmacenes;
    //List<SelectListItem> lstSucursales = (List<SelectListItem>)ViewBag.lstSucursales;
}

<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tablaUsuarios">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        #
                                    </th>
                                    <th>Nombre</th>
                                    <th>Sucursal</th>
                                    <th>Almacen</th>
                                    <th>Rol</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstUsuario)
                                {
                                <tr>
                                    <td>@item.contador</td>
                                    <td>@ti.ToTitleCase(@item.nombre)&nbsp;@ti.ToTitleCase(@item.apellidoPaterno.ToLower())&nbsp;@ti.ToTitleCase(@item.apellidoMaterno)</td>
                                    <td>@item.Sucursal</td>
                                    <td>@item.Almacen</td>

                                    <td>
                                        @{
                                            switch (item.idRol)
                                            {
                                                case 1:
                                                    {
                                                        <div class="badge badge-dark badge-shadow">@item.Rol</div>
                                                    }
                                                    break;

                                                case 2:
                                                    {
                                                        <div class="badge badge-primary badge-shadow">@item.Rol</div>
                                                    }
                                                    break;

                                                case 3:
                                                    {
                                                        <div class="badge badge-secondary badge-shadow">@item.Rol</div>
                                                    }
                                                    break;

                                                case 4:
                                                    {
                                                        <div class="badge badge-dark badge-shadow">@item.Rol</div>
                                                    }
                                                    break;

                                                case 5:
                                                    {
                                                        <div class="badge badge-success badge-shadow">@item.Rol</div>
                                                    }
                                                    break;

                                                case 6:
                                                    {
                                                        <div class="badge badge-warning badge-shadow">@item.Rol</div>
                                                    }
                                                    break;

                                                case 7:
                                                    {
                                                        <div class="badge badge-info badge-shadow">@item.Rol</div>
                                                    }
                                                    break;

                                                case 8:
                                                    {
                                                        <div class="badge badge-light badge-shadow">@item.Rol</div>
                                                    }
                                                    break;
                                                case 9:
                                                    {
                                                        <div class="badge badge-primary badge-shadow">@item.Rol</div>
                                                    }
                                                    break;

                                                default:
                                                    {
                                                        <div class="badge badge-danger badge-shadow">@item.Rol</div>
                                                    }
                                                    break;
                                            }
                                        }

                                    </td>
                                    <td>
                                        <div class="buttons">
                                            <a href="javascript:VerUsuario(@item.idUsuario);" class="btn btn-icon btn-info" data-toggle="tooltip" title="Ver"><i class="fas fa-eye"></i></a>
                                            <a href="javascript:EditarUsuario(@item.idUsuario);" class="btn btn-icon btn-primary" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                                            <a href="javascript:EliminarUsuario(@item.idUsuario);" class="btn btn-icon btn-danger" data-toggle="tooltip" title="Eliminar"><i class="fas fa-times"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

