@*@model IEnumerable<lluviaBackEnd.Models.Sesion>*@


@model List<lluviaBackEnd.Models.Usuario>
@{
    List<lluviaBackEnd.Models.Usuario> lstUsuario = Model;

}

<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    @*<h4>Basic DataTables</h4>*@
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tablaUsuarios">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        #
                                    </th>
                                    <th>Nombre</th>
                                    <th>Sucursal</th>
                                    <th>Almacen</th>
                                    <th>Rol</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstUsuario)
                                {
                                    <tr>
                                        <td>@item.nombre</td>
                                        <td>@item.Sucursal</td>
                                        <td>@item.Almacen</td>
                                        <td>@item.Rol</td>
                                        <td>
                                            <a href="javascript:VerUsuario(@item.idUsuario);" data-toggle="tooltip" title="Ver" class=" tooltip-wrapper btn btn-icon btn-round btn-outline-primary"><i data-feather="eye"></i></a>&nbsp;&nbsp;
                                            <a href="javascript:EditarUsuario(@item.idUsuario);" data-toggle="tooltip" title="Editar" class=" tooltip-wrapper btn btn-icon btn-round btn-outline-success"><i data-feather="edit"></i></a>&nbsp;&nbsp;
                                            <a href="javascript:EliminarUsuario(@item.idUsuario);" data-toggle="tooltip" title="Eliminar" class=" tooltip-wrapper btn btn-icon btn-round btn-outline-danger"><i data-feather="user-x"></i></a>
                                        </td>
                                    </tr>
                                }

                                @*<tr>
                                    <td>
                                        1
                                    </td>
                                    <td>admin</td>
                                    <td>sucursal 1</td>
                                    <td>Almacen 1</td>
                                    <td>
                                        <div class="badge badge-success badge-shadow">Admin</div>
                                    </td>
                                    <td>
                                        <a href="#"><i data-feather="eye"></i><span></span></a>
                                        <a href="#"><i data-feather="edit"></i><span></span></a>
                                        <a href="#"><i data-feather="user-x"></i><span></span></a>
                                    </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
