@using System.Globalization;
@using lluviaBackEnd.Models;

@model Notificacion<List<CostoProduccionAgranel>>

@if (Model.Estatus != 200)
{

    <div class="empty-state">
        <div class="empty-state-icon">
            <i class="fas fa-info"></i>
        </div>
        <h2>@Model.Mensaje</h2>
    </div>

}
else
{
    <div class="table-responsive">
        <table class="table table-striped" id="tblCostoProduccion">
            <thead>
                <tr>
                    <th>Codigo de Barras</th>
                    <th>Producto</th>
                    <th>Lìnea</th>
                    <th>Usuario</th>
                    <th>Cantidad Solicitada</th>
                    <th>Cantidad Aceptada</th>
                    <th>Cantidad Restante</th>
                    <th>Fecha Alta</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>

                @foreach (lluviaBackEnd.Models.CostoProduccionAgranel c in Model.Modelo)
                {
                <tr>
                    <td>@c.codigoBarras</td>
                    <td>@c.descripcionProducto</td>
                    <td>@c.descripcionLinea</td>
                    <td>@c.nombreUsuario</td>
                    <td>@c.cantidad</td>
                    <td>@c.cantidadAceptada</td>
                    <td>@Math.Round((c.cantidad - c.cantidadAceptada), 2)</td>
                    <td>@c.fechaAlta.ToShortDateString()</td>
                    <td>@c.descripcionEstatus</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

}



