@Html.HiddenFor(x => Model.idCompra)
@{ Boolean enableEdit = ViewBag.enableEdit; }

<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-striped" id="tblComprasDetalle">
            <thead>
                <tr>
                    <th data-width="40" style="width: 40px;">#</th>
                    <th>Id Producto</th>
                    <th>Producto</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Total</th>
                    @if (enableEdit)
                    {
                        <th class="text-center">Acciones</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (lluviaBackEnd.Models.Producto prod in Model.listProductos)
                {
                <tr>
                    <td>1</td>
                    <td>@prod.idProducto</td>
                    <td>@prod.descripcion</td>
                    <td class="text-center">$@prod.precio</td>
                    <td class="text-center">@prod.cantidad</td>
                    <td class="text-center">$@Convert.ToInt32(prod.cantidad * prod.precio)</td>
                    @if (enableEdit)
                    {
                        <td class="text-center">7</td>
                    }
                    </tr>

                }
            </tbody>
        </table>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6 text-right">
            <hr class="mt-2 mb-2">
            <div class="invoice-detail-item">
                <div class="invoice-detail-name">Total</div>
                <div class="invoice-detail-value invoice-detail-value-lg" id="divTotal">$685.99</div>
            </div>
        </div>
    </div>
</div>
<hr>
@model lluviaBackEnd.Models.Compras

@if (enableEdit)
{
    <div class="row">
        <div class="form-group col-lg-6">
            <label>Proveedor</label>
            <div class="input-group">
                @Html.DropDownListFor(model => model.proveedor.idProveedor, (List<SelectListItem>)ViewBag.listProveedores, "Seleccione", new { id = "idProveedor", @class = "custom-select select-multiple", placeholder = "", data_val_required = "Seleccione un proveedor", data_val = "true" })

                @Html.ValidationMessageFor(model => model.proveedor.idProveedor, null, new { @class = "text-danger was" })
                <div class="input-group-append">
                    <button id="btnNuevoProveedor" class="btn btn-icon btn-info" type="button" data-toggle="tooltip" data-placement="bottom" title="Nuevo proveedor."><i data-feather="truck"></i></button>
                </div>
            </div>

        </div>

        <div class="form-group col-lg-6">
            <label>Estatus de la compra</label>
            @Html.DropDownListFor(model => model.statusCompra.idStatus, (List<SelectListItem>)ViewBag.listStatusCompra, "Seleccione", new { id = "idStatusCompra", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione el estatus de la compra", data_val = "true" })
            @Html.ValidationMessageFor(model => model.statusCompra.idStatus, null, new { @class = "text-danger was" })
        </div>

    </div>

    <hr>
    <div class="text-md-right">
        @if (Model.idCompra == 0)
        {
            <button id="limpiar" class="btn btn-danger btn-icon icon-left"><i class="fas fa-times"></i>Limpiar</button>
        }
        <button id="btnGuardarCompra" class="btn btn-primary btn-icon icon-left" type="submit">
            <i class="fas fa-credit-card"></i> @Html.Raw(Model.idCompra > 0 ? "Actualizar Compra" : "Realizar Compra")
        </button>
    </div>
}
