@using System.Globalization;
@model lluviaBackEnd.Models.Notificacion<List<lluviaBackEnd.Models.Compras>>

@{
    List<lluviaBackEnd.Models.Compras> compras = Model.Modelo;
    int contador = 1;
}

<style>
    .finalizada-correcta {
        background: var(--blue);
        color: white;
        font-weight: 600;
    }

    .badge-cancelada {
        background: var(--yellow);
        color: white;
        font-weight: 600;
    }
    
    .badge-errores {
        width: 13px !important;
        height: 13px !important;
        display: block !important;
        padding: 0;
    }
</style>

@if (Model.Estatus != 200)
{
    <div class="card card-primary">
        <div class="card-header">
            <h4></h4>
            <div class="card-header-action">
               
                    <a class="btn btn-icon btn-success" data-toggle="tooltip" title="Nueva Compra" onclick="NuevaCompra(0)"><i class="fas fa-plus"></i></a>
                  
            </div>
        </div>
        <div class="card-body">
            <div class="empty-state">
                <div class="empty-state-icon">
                    <i class="fas fa-info"></i>
                </div>
                <h2>@Model.Mensaje</h2>
            </div>
        </div>
    </div>  

}
else
{
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tblCompras">
                                <thead>
                                    <tr>
                                        <th class="text-center">Id</th>
                                        <th>Proveedor</th>
                                        <th>Usuario</th>
                                        <th>Fecha</th>
                                        <th>Estatus</th>
                                        <th>Cantidad Productos Solicitados</th>
                                        <th>Cantidad Productos Recibido</th>
                                        <th>Cantidad Productos Devuelta</th>
                                        <th>Total</th>
                                        <th>Observaciones</th>
                                        <th width="20%">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (lluviaBackEnd.Models.Compras c in compras)
                                    {
                                        <tr>
                                            <td>@c.idCompra</td>
                                            <td>@c.proveedor.nombre</td>
                                            <td>@c.usuario.nombreCompleto</td>
                                            <td>@c.fechaAlta.ToShortDateString()</td>
                                            <td>
                                                @{
                                                    switch (c.estadoCompra)
                                                    {
                                                        case lluviaBackEnd.Models.EnumEstadoCompras.Ninguno:
                                                            {
                                                                <div class="badge badge-shadow @Html.Raw(c.statusCompra.idStatus==4 ? "badge-cancelada":" badge-light")">@c.statusCompra.descripcion</div>
                                                               
                                                            }
                                                            break;

                                                        case lluviaBackEnd.Models.EnumEstadoCompras.Correcta:
                                                            {
                                                                if (c.statusCompra.idStatus == 2)
                                                                {
                                                                    <div class="badge badge-success badge-shadow">@c.statusCompra.descripcion</div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="badge badge-blue badge-shadow finalizada-correcta">@c.statusCompra.descripcion</div>
                                                                }
                                                            }
                                                            break;

                                                        case lluviaBackEnd.Models.EnumEstadoCompras.Incorrecta:
                                                            {
                                                                    <div style="display:flex;flex-direction:row; gap:8px">
                                                                        @if (c.statusCompra.idStatus == 2)
                                                                        {
                                                                        <div class="badge badge-success badge-shadow">@c.statusCompra.descripcion</div>
                                                                        <div class="badge badge-danger badge-shadow badge-errores"></div>
                                                                        }
                                                                        else
                                                                        {
                                                                        <div class="badge badge-blue badge-shadow finalizada-correcta">@c.statusCompra.descripcion</div>
                                                                        <div class="badge badge-danger badge-shadow badge-errores"></div>
                                                                        }
                                                                    </div>

                                                            }
                                                            break;
                                                        default:
                                                            {
                                                                <div class="badge badge-light badge-shadow">@c.statusCompra.descripcion</div>
                                                            }
                                                            break;
                                                    }
                                                }

                                            </td>
                                            <td>@c.totalCantProductos.ToString().Replace(",", ".")</td>
                                            <td>@c.totalCantProductosRecibidos.ToString().Replace(",", ".")</td>
                                            <td>@c.totalCantProductosDevueltos.ToString().Replace(",", ".")</td>
                                            <td>@Html.Raw((c.statusCompra.idStatus == 3) || (c.statusCompra.idStatus == 2) ? c.montoTotalRecibido.ToString("C", new CultureInfo("en-US")) : c.montoTotal.ToString("C", new CultureInfo("en-US")))</td>
                                            <td>@c.observaciones</td>
                                            <td>
                                                <div class="buttons">
                                                    @*<a href="javascript:VerDetalleCompra(@c.idCompra);" class="btn btn-icon btn-info" data-toggle="tooltip" title="Ver Detalle"><i class="fas fa-eye"></i></a>*@
                                                    <a href="javascript:NuevaCompra(@c.idCompra);" onclick="ShowLoader()" class="btn btn-icon btn-primary" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                                                    <a href="javascript:EliminarCompra(@c.idCompra);" class="btn btn-icon btn-danger" data-toggle="tooltip" title="Eliminar"><i class="fas fa-times"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                        contador = contador + 1;
                                    }

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}

