@using lluviaBackEnd.Models;
@model List<InventarioFisico>

@if (Model.Count == 0)
{

    <div class="empty-state">
        <div class="empty-state-icon">
            <i class="fas fa-info"></i>
        </div>
        <h2>No se encontraron resultados</h2>
    </div>

}
else
{
    <div class="table-responsive">
        <table class="table table-striped" id="tblInventarioFisico">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Fecha Alta</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Sucursal</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (lluviaBackEnd.Models.InventarioFisico c in Model)
                {
                    <tr>
                        <td>@c.idInventarioFisico</td>
                        <td><input type="text" name="txtNombre_@c.idInventarioFisico" id="txtNombre_@c.idInventarioFisico" onblur="actualizarInventarioFisico(1,@c.idInventarioFisico,'@c.Nombre',this.value)" style="border: none; border-color: transparent;  background: transparent;" value="@c.Nombre"></td>
                        <td>@c.FechaAlta</td>
                        <td>@Html.Raw(c.FechaInicio == DateTime.MinValue ? "" : c.FechaInicio.ToString())</td>
                        <td>@Html.Raw(c.FechaFin == DateTime.MinValue ? "" : c.FechaFin.ToString())</td>
                        <td>@c.Sucursal.descripcion</td>
                        <th>@Html.Raw(c.Activo == true ? "SI" : "NO")</th>
                        <td>
                            <div class="form-group">                       
                                <label class="custom-switch mt-2">
                                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" @Html.Raw(c.Activo == true ? "checked" : "") id="chkActivo_@c.idInventarioFisico" onchange="actualizarInventarioFisico(2,@c.idInventarioFisico,'@c.Activo',this.checked)">
                                    <span class="custom-switch-indicator"></span>
                                    <span class="custom-switch-description">@Html.Raw(c.Activo == true ? "Desactivar" : "Activar")</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
