@model List<lluviaBackEnd.Models.Cliente>
@{


}

<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tblClientes">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Nombre</th>
                                    <th>Domicilio</th>
                                    <th>Rfc</th>
                                    <th>Telefono</th>
                                    <th>Tipo CLiente</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.idCliente</td>
                                        <td>@item.nombres &nbsp; @item.apellidoPaterno &nbsp; @item.apellidoMaterno</td>
                                        <td>@item.calle &nbsp; @item.colonia &nbsp; @item.estado</td>
                                        <td>@item.rfc</td>
                                        <td>@item.telefono</td>

                                        <td>
                                            @{
                                                switch (item.tipoCliente.idTipoCliente)
                                                {
                                                    case 1:
                                                        {
                                                            <div class="badge badge-success badge-shadow">@item.tipoCliente.descripcion</div>
                                                        }
                                                        break;
                                                    case 2:
                                                        {
                                                            <div class="badge badge-info badge-shadow">@item.tipoCliente.descripcion</div>
                                                        }
                                                        break;
                                                    case 3:
                                                        {
                                                            <div class="badge badge-warning badge-shadow">@item.tipoCliente.descripcion</div>
                                                        }
                                                        break;
                                                    case 4:
                                                        {
                                                            <div class="badge badge-warning badge-shadow">@item.tipoCliente.descripcion</div>
                                                        }
                                                        break;
                                                    default:
                                                        {
                                                            <div class="badge badge-danger badge-shadow">N/A</div>
                                                        }
                                                        break;
                                                }
                                            }

                                        </td>
                                        <td>
                                            <div class="buttons">
                                                <a href="javascript:VerCliente(@item.idCliente);" class="btn btn-icon btn-info" data-toggle="tooltip" title="Ver"><i class="fas fa-eye"></i></a>
                                                <a href="javascript:EditarCliente(@item.idCliente);" class="btn btn-icon btn-primary" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                                                <a href="javascript:EliminarCliente(@item.idCliente);" class="btn btn-icon btn-danger" data-toggle="tooltip" title="Eliminar"><i class="fas fa-times"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


