@model lluviaBackEnd.Models.Cliente
@{
    ViewBag.Title = "Clientes";
    List<lluviaBackEnd.Models.Cliente> Lstclientes = ViewBag.Lstclientes;
    List<lluviaBackEnd.Models.TipoCliente> LstTipoClientes = ViewBag.lstTipoClientes;
}


<h2>Clientes</h2>

<div id="rowTblClientes">
    @Html.Partial("_ObtenerClientes", Lstclientes)
</div>

<div class="modal fade bd-example-modal-lg" id="mdlAgregarCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCliente"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<form id="frmUsuario">*@
                @using (Ajax.BeginForm("GuardarcLiente", "Clientes",

                new AjaxOptions
                {
                    HttpMethod = "Post",
                    OnBegin = "onBeginSubmitGuardarCliente",
                    OnComplete = "onCompleteSubmitGuardarCliente",
                    OnFailure = "onFailureResultGuardarCliente",
                    OnSuccess = "onSuccessResultGuardarCliente",
                },
                new { id = "frmUsuario" }))
                {
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Nombres</label>
                                @Html.TextBoxFor(x => x.nombres, null, new { @class = "form-control", @id = "usuario" })
                                @Html.ValidationMessageFor(x => x.nombres, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Apellido Paterno</label>
                                @Html.TextBoxFor(x => x.apellidoPaterno, null, new { @class = "form-control", @id = "usuario" })
                                @Html.ValidationMessageFor(x => x.apellidoPaterno, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Apellido Paterno</label>
                                @Html.TextBoxFor(x => x.apellidoMaterno, null, new { @class = "form-control", @id = "usuario" })
                                @Html.ValidationMessageFor(x => x.apellidoMaterno, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Telefono</label>
                                @Html.TextBoxFor(x => x.telefono, null, new { @class = "form-control", @id = "usuario" })
                                @Html.ValidationMessageFor(x => x.telefono, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Correo</label>
                                @Html.TextBoxFor(x => x.correo, null, new { @class = "form-control", @id = "usuario" })
                                @Html.ValidationMessageFor(x => x.correo, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>RFC</label>
                                @Html.TextBoxFor(x => x.rfc, null, new { @class = "form-control", @id = "usuario" })
                                @Html.ValidationMessageFor(x => x.rfc, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Calle</label>
                                @Html.TextBoxFor(x => x.calle, null, new { @class = "form-control", @id = "usuario" })
                                @Html.ValidationMessageFor(x => x.calle, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Colonia</label>
                                @Html.TextBoxFor(x => x.colonia, null, new { @class = "form-control", @id = "usuario" })
                                @Html.ValidationMessageFor(x => x.colonia, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Municipio</label>
                                @Html.TextBoxFor(x => x.municipio, null, new { @class = "form-control", @id = "usuario" })
                                @Html.ValidationMessageFor(x => x.municipio, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Codigo Postal</label>
                                @Html.TextBoxFor(x => x.cp, null, new { @class = "form-control", @id = "usuario" })
                                @Html.ValidationMessageFor(x => x.cp, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Estado</label>
                                @Html.TextBoxFor(x => x.estado,  null, new { @class = "form-control", @id = "usuario" })
                                @Html.ValidationMessageFor(x => x.estado, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Tipo Cliente</label>
                                @Html.DropDownListFor( m => m.tipoCliente.idTipoCliente, new SelectList(LstTipoClientes, "idTipoCliente", "descripcion"),null , new { @class = "form-control", @id = "cbTipoCliente" } )
                                @Html.ValidationMessageFor(x => x.estado, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-12">
                            <div class="text-right" style="margin-top:15px;">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <button type="submit" id="btnGuardarUsuario" class="btn btn-success">Guardar</button>
                            </div>
                        </div>
                    </div>
                }
                @*</form>*@
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    @*<script src="~/assets/js/page/datatables.js"></script>*@
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    @Scripts.Render("~/js/EvtClientes.js");
}
