@model lluviaBackEnd.Models.Cliente
@{
    ViewBag.Title = "Clientes";
    List<lluviaBackEnd.Models.Cliente> Lstclientes = ViewBag.Lstclientes;
    List<SelectListItem> LstTipoClientes = ViewBag.lstTipoClientes;
    List<SelectListItem> lstRegimens = ViewBag.lstRegimens;
}

@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/select2/dist/css/select2.min.css" />
    <style>
        .modal-open .select2-dropdown {
            z-index: 10060;
        }

        .modal-open .select2-close-mask {
            z-index: 10055;
        }
    </style>
}
<h2>Clientes</h2>

<div id="rowTblClientes">
    @Html.Partial("_ObtenerClientes", Lstclientes)
</div>

<div class="modal fade bd-example-modal-lg" id="mdlAgregarCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCliente"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<form id="frmUsuario">*@
                @using (Ajax.BeginForm("GuardarcLiente", "Clientes",

                new AjaxOptions
                {
                    HttpMethod = "Post",
                    OnBegin = "onBeginSubmitGuardarCliente",
                    OnComplete = "onCompleteSubmitGuardarCliente",
                    OnFailure = "onFailureResultGuardarCliente",
                    OnSuccess = "onSuccessResultGuardarCliente",
                },
                new { id = "frmClientes" }))
                {
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    @*<input type="checkbox" class="custom-control-input" id="esPersonaMoral">*@
                                    @Html.CheckBoxFor(x => x.esPersonaMoral, new { @class = "custom-control-input", @id = "esPersonaMoral" })
                                    <label class="custom-control-label" for="esPersonaMoral">Persona Moral?</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="nombrePF">
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Nombres *</label>
                                @Html.HiddenFor(x => x.idCliente)
                                @Html.TextBoxFor(x => x.nombres, null, new { @class = "form-control", @id = "nombres" })
                                @Html.ValidationMessageFor(x => x.nombres, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Apellido Paterno *</label>
                                @Html.TextBoxFor(x => x.apellidoPaterno, null, new { @class = "form-control", @id = "apellidoPaterno" })
                                @Html.ValidationMessageFor(x => x.apellidoPaterno, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Apellido Materno</label>
                                @Html.TextBoxFor(x => x.apellidoMaterno, null, new { @class = "form-control", @id = "apellidoMaterno", data_val = "false" })
                                @Html.ValidationMessageFor(x => x.apellidoMaterno, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                    </div>

                    <div class="row" id="nombrePM" style="display:none">
                        <div class="col-12 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label>Razon Social *</label>
                                @Html.HiddenFor(x => x.idCliente)
                                @Html.TextBoxFor(x => x.razonSocial, null, new { @class = "form-control", @id = "razonSocial" })
                                @Html.ValidationMessageFor(x => x.razonSocial, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-3">
                            <div class="form-group">
                                <label>RFC*</label>
                                @Html.TextBoxFor(x => x.rfcPM, null, new { @class = "form-control", @id = "rfcPM" })
                                @Html.ValidationMessageFor(x => x.rfcPM, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-3">
                            <div class="form-group">
                                <label>Sociedad Mercantil*</label>
                                @Html.TextBoxFor(x => x.sociedadMercantil, null, new { @placeholder = "Ejemplo S.A de C.V.",  @class = "form-control", @id = "sociedadMercantil" })
                                @Html.ValidationMessageFor(x => x.sociedadMercantil, null, new { @class = "text-danger was",  })
                            </div>
                        </div>
                    </div>
                    <div id="dvHrContactos" style="display:none">
                        <label>Datos de contacto</label>
                        <hr />
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group" id="dvNombreC" style="display:none">
                                <label>Nombre completo</label>
                                @Html.TextBoxFor(x => x.nombreContacto, null, new { @class = "form-control", @id = "nombreContacto" })
                            </div>
                            <div class="form-group" id="dvRFC">
                                <label>RFC</label>
                                @Html.TextBoxFor(x => x.rfc, null, new { @class = "form-control", @id = "rfc" })
                                @Html.ValidationMessageFor(x => x.rfc, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Telefono</label>
                                @Html.TextBoxFor(x => x.telefono, null, new { @class = "form-control", @id = "telefono", onkeypress = "return esNumero(event)" })
                                @Html.ValidationMessageFor(x => x.telefono, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Correo</label>
                                @Html.TextBoxFor(x => x.correo, null, new { @class = "form-control", @id = "correo" })
                                @Html.ValidationMessageFor(x => x.correo, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                    </div>
                    <label>Domicilio</label>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Calle</label>
                                @Html.TextBoxFor(x => x.calle, null, new { @class = "form-control", @id = "calle" })
                                @Html.ValidationMessageFor(x => x.calle, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Colonia</label>
                                @Html.TextBoxFor(x => x.colonia, null, new { @class = "form-control", @id = "colonia" })
                                @Html.ValidationMessageFor(x => x.colonia, null, new { @class = "text-danger was" })
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Numero Exterior</label>
                                @Html.TextBoxFor(x => x.numeroExterior, null, new { @class = "form-control", @id = "numeroExterior" })
                                @Html.ValidationMessageFor(x => x.numeroExterior, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Numero Interior</label>
                                @Html.TextBoxFor(x => x.numeroInterior, null, new { @class = "form-control", @id = "numeroInterior" })
                                @Html.ValidationMessageFor(x => x.numeroInterior, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Localidad</label>
                                @Html.TextBoxFor(x => x.localidad, null, new { @class = "form-control", @id = "localidad" })
                                @Html.ValidationMessageFor(x => x.localidad, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Municipio</label>
                                @Html.TextBoxFor(x => x.municipio, null, new { @class = "form-control", @id = "municipio" })
                                @Html.ValidationMessageFor(x => x.municipio, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Codigo Postal</label>
                                @Html.TextBoxFor(x => x.cp, null, new { @class = "form-control", @id = "cp", onkeypress = "return esNumero(event)" })
                                @Html.ValidationMessageFor(x => x.cp, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Estado</label>
                                @Html.TextBoxFor(x => x.estado, null, new { @class = "form-control", @id = "estado" })
                                @Html.ValidationMessageFor(x => x.estado, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Tipo Cliente</label>
                                @Html.DropDownListFor(m => m.idTipoCliente, LstTipoClientes, null, new { @class = "form-control", @id = "idTipoCliente" })
                                @Html.ValidationMessageFor(x => x.idTipoCliente, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Latitud</label>
                                @Html.TextBoxFor(x => x.latitud, null, new { @class = "form-control", @id = "latitud" })
                                @Html.ValidationMessageFor(x => x.latitud, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Longitud</label>
                                @Html.TextBoxFor(x => x.longitud, null, new { @class = "form-control", @id = "longitud" })
                                @Html.ValidationMessageFor(x => x.longitud, null, new { @class = "text-danger was" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label>Regimen Fiscal</label>
                                @Html.DropDownListFor(m => m.idRegimenFiscal, lstRegimens, null, new { @class = " form-control select-multiple", @id = "idRegimenFiscal" })
                                @Html.ValidationMessageFor(x => x.idRegimenFiscal, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>Pedidos Especiales</label>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    @*<input type="checkbox" class="custom-control-input" id="esPersonaMoral">*@
                                    @Html.CheckBoxFor(x => x.usarDatosCliente, new { @class = "custom-control-input", @id = "usarDatosCliente" })
                                    <label class="custom-control-label" for="usarDatosCliente">Usar Datos del cliente ?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-8">
                            <div class="form-group">
                                <label>Nombre completo</label>
                                @Html.TextBoxFor(x => x.nombreContactoPE, null, new { @class = "form-control", @id = "nombreContactoPE" })
                                @Html.ValidationMessageFor(x => x.nombreContactoPE, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Correo</label>
                                @Html.TextBoxFor(x => x.correoContactoPE, null, new { @class = "form-control", @id = "correoContactoPE" })
                                @Html.ValidationMessageFor(x => x.correoContactoPE, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Teléfono</label>
                                @Html.TextBoxFor(x => x.telefonoContactoPE, null, new { @class = "form-control", @id = "telefonoContactoPE" })
                                @Html.ValidationMessageFor(x => x.telefonoContactoPE, null, new { @class = "text-danger was" })
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Días de crédito</label>
                                @Html.TextBoxFor(x => x.diasCredito, null, new { @class = "form-control", @id = "diasCredito", onkeypress = "return esNumero(event)" })
                                @Html.ValidationMessageFor(x => x.diasCredito, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <label>Monto máximo de crédito</label>
                                @Html.TextBoxFor(x => x.montoMaximoCredito, null, new { @class = "form-control", @id = "montoMaximoCredito", onkeypress = "return esDecimal(this, event);" })
                                @Html.ValidationMessageFor(x => x.montoMaximoCredito, null, new { @class = "text-danger was" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-12">
                            <div class="text-right" style="margin-top:15px;">
                                <button type="reset" class="btn btn-danger" id="btnResetGuardarUsuario">Reset</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <button type="submit" id="btnGuardarCliente" class="btn btn-success">Guardar</button>
                            </div>
                        </div>
                    </div>
                }
                @*</form>*@
            </div>
                </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/mvcfoolproof.unobtrusive.js"></script>

    @*<script src="~/Scripts/MvcFoolproofJQueryValidation.js"></script>
        <script src="~/Scripts/MvcFoolproofValidation.js"></script>*@




    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/bundles/select2/dist/js/select2.full.min.js"></script>
    @Scripts.Render("~/js/EvtClientes.js");
}
